.marquee {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.marquee .mask {
  position: absolute;
  overflow: hidden;
}

.marquee ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}

.marquee ul li {
  padding: 0px 10px;
}