.marquee-wrapper {
	overflow: hidden;
	position: relative;
}

.marquee-wrapper .mask {
	width: 1184px;
  position: relative;
  overflow: hidden;
}

.marquee-wrapper ul {
  list-style:none;
  margin:0;
  padding:0;
	position: relative;

}

.marquee-wrapper ul li {
  padding: 0px 10px;
}