{% extends "base.html" %} {% block title %} Edit Rules {% endblock %} {% block header %}
<style>
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}
</style>
{% endblock %}{% block content
%}

<div class="flex flex-col w-screen h-screen px-6 py-4 overflow-y-scroll bg-gray-100 dark:bg-zinc-900">
	<div class="inline-flex mb-4 border-b-2 border-gray-300 dark:border-zinc-800 w-fit">
		<a class="px-3 py-1 text-sm text-gray-700 bg-gray-100 rounded-tl-lg rounded-tr-lg dark:bg-zinc-900 dark:text-zinc-500"
			href="/rules/edit">Technical Indicators</a>
		<a class="px-3 py-1 text-sm text-gray-600 bg-gray-300 rounded-tl-lg rounded-tr-lg dark:bg-zinc-800 dark:text-zinc-400"
			href="/cdl/edit">Candlestick</a>
	</div>
	<div class="grid grid-cols-2 gap-x-4">
		<div class="space-y-2">
			<h2 class="text-2xl font-semibold dark:text-zinc-100">Buy Rules</h2>
			<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
				<ul class="grid w-full grid-cols-3">
					{% for i in range(cdl_patterns|length) %}
					<li class="text-sm text-gray-700 dark:text-zinc-200">
						<input {% if cdl_patterns[i] in cdl_buy %}checked{% endif %} type="checkbox"
							id="{{ 'buy_' + cdl_patterns[i] }}" cdl="{{ cdl_patterns[i] }}"
							class="w-3 h-3 text-xs bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none">
						<label for="{{ 'buy_' + cdl_patterns[i] }}">{{cdl_patterns[i].replace("CDL",'')}}</label>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="space-y-2">
			<h2 class="text-2xl font-semibold dark:text-zinc-100">Sell Rules</h2>
			<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
				<ul class="grid w-full grid-cols-3">
					{% for i in range(cdl_patterns|length) %}
					<li class="text-sm text-gray-700 dark:text-zinc-200">
						<input {% if cdl_patterns[i] in cdl_sell %}checked{% endif %} type="checkbox"
							id="{{ 'sell_' + cdl_patterns[i] }}" cdl="{{ cdl_patterns[i] }}"
							class="w-3 h-3 text-xs bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none">
						<label for="{{ 'sell_' + cdl_patterns[i] }}">{{cdl_patterns[i].replace("CDL",'')}}</label>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-1">
		<button type="button"
			class="w-1/6 px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-gray-600 rounded-lg shadow-md hover:bg-emerald-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
			onclick="$('#update-db-result').text('loading...'); $.get('/rules/save', function(res) {$('#update-db-result').text('success!')})">
			(update db)
		</button>
		<p class="dark:text-white" id="update-db-result"></p>
	</div>
</div>
<script>
	function update_table() {
		let buyrow = []
		let sellrow = []
		$("#buy-table").each(function () {
			$(this).find("input").each(function () {
				if (this.checked) { buyrow.push($(this).attr("cdl")) };
			});
		});
		$("#sell-table").each(function () {
			$(this).find("input").each(function () {
				if (this.checked) { sellrow.push($(this).attr("cdl")) };
			});
		});
		$.post("/cdl/edit", { buy: JSON.stringify(buyrow), sell: JSON.stringify(sellrow) })
	}

	$("table").on("change", "input", function () {
		update_table();
	})
</script>
{% endblock %}