{% extends "base.html" %} {% block title %} Edit Rules {% endblock %} {% block header %}
<style>
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}
</style>
{% endblock %}{% block content
%}
<div class="flex flex-col w-screen h-screen px-6 py-4 overflow-y-scroll bg-gray-100 dark:bg-zinc-900">
	<div class="flex justify-between pb-5">		
		<div class="text-base font-medium text-center text-gray-500 border-b border-gray-300 dark:text-zinc-400 dark:border-zinc-700 h-fit">
			<ul class="flex flex-wrap -mb-px">
				<li class="mr-2">
					<a href="/rules/edit" class="block px-2 py-1 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-zinc-300">Technical Indicators</a>
				</li>
				<li class="mr-2">
					<a href="/cdl/edit" class="block px-2 py-1 text-indigo-600 border-b-2 border-indigo-600 rounded-t-lg dark:text-indigo-500 dark:border-indigo-500">Candlestick</a>
				</li>
			</ul>
		</div>
		<div class="grid w-32 grid-cols-1">
			<button type="button" id="update-db-button"
				class="w-full px-3 py-2 text-sm font-semibold text-white transition ease-in bg-gray-600 rounded-lg font-semiboldtext-center duration-10 hover:bg-gray-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
				onclick="$('#update-db-loading').show(); $('#update-db-button').hide(); $.get('/rules/save', function(res) {$('#update-db-loading').hide(); $('#update-db-button').show(); $('#update-db-button').text('Success');})">
				Update
			</button>
			<button disabled type="button" id="update-db-loading" class="hidden w-full px-3 py-2 text-sm font-semibold text-white transition ease-in bg-gray-600 rounded-lg font-semiboldtext-center duration-10 hover:bg-gray-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
			>
				<svg role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
				<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
				</svg>
				Loading...
			</button>
		</div>
	</div>
	<div class="grid grid-cols-2 gap-x-4">
		<div class="space-y-2">
			<h2 class="text-2xl font-semibold dark:text-zinc-100">Buy Rules</h2>
			<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
				<ul class="grid w-full grid-cols-3 space-y-2">
					{% for i in range(cdl_patterns|length) %}
					<li class="text-sm text-gray-700 dark:text-zinc-200">
						<input {% if cdl_patterns[i] in cdl_buy %}checked{% endif %} type="checkbox"
							id="{{ 'buy_' + cdl_patterns[i] }}" cdl="{{ cdl_patterns[i] }}"
							class="w-3 h-3 text-xs bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none">
						<label for="{{ 'buy_' + cdl_patterns[i] }}">{{cdl_patterns[i].replace("CDL",'')}}</label>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="space-y-2">
			<h2 class="text-2xl font-semibold dark:text-zinc-100">Sell Rules</h2>
			<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
				<ul class="grid w-full grid-cols-3 space-y-2">
					{% for i in range(cdl_patterns|length) %}
					<li class="text-sm text-gray-700 dark:text-zinc-200">
						<input {% if cdl_patterns[i] in cdl_sell %}checked{% endif %} type="checkbox"
							id="{{ 'sell_' + cdl_patterns[i] }}" cdl="{{ cdl_patterns[i] }}"
							class="w-3 h-3 text-xs bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none">
						<label for="{{ 'sell_' + cdl_patterns[i] }}">{{cdl_patterns[i].replace("CDL",'')}}</label>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
	function update_table() {
		let buyrow = []
		let sellrow = []
		$("#buy-table").each(function () {
			$(this).find("input").each(function () {
				if (this.checked) { buyrow.push($(this).attr("cdl")) };
			});
		});
		$("#sell-table").each(function () {
			$(this).find("input").each(function () {
				if (this.checked) { sellrow.push($(this).attr("cdl")) };
			});
		});
		$.post("/cdl/edit", { buy: JSON.stringify(buyrow), sell: JSON.stringify(sellrow) })
	}

	$("table").on("change", "input", function () {
		update_table();
	})
</script>
{% endblock %}