{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<div class="w-screen bg-zinc-100 dark:bg-zinc-900">

	<div class="flex flex-col h-screen gap-4 px-6 py-4">
		<div class="space-y-2">
			<div class="flex w-full px-3 py-2 space-x-4 bg-white rounded-full dark:bg-zinc-800 dark:text-zinc-100">
				<div>item</div>
				<div>item</div>
			</div>
			<h1 class="text-2xl font-black text-gray-800 dark:text-zinc-100">Dashboard</h1>
		</div>
		<div class="space-y-4 overflow-y-scroll">
			<div class="grid h-32 grid-cols-4 gap-x-4">
				{% for i in range(4) %}
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex flex-col">
						<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Market Direction</h3>
						<h2 class="text-3xl font-semibold dark:text-zinc-100">Bearish</h2>
						<h4 class="font-light text-rose-500">-0.77%<ion-icon name="arrow-down-outline" class="align-middle"></ion-icon></h4>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="grid grid-cols-3 h-96 gap-x-4">
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">1</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">1</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">1</div>
			</div>
			<div class="grid grid-cols-2 h-96 gap-x-4">
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">1</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">1</div>
			</div>
			<div class="grid grid-cols-3 h-96 gap-x-4">
				<div class="col-span-2 p-4 bg-white rounded-md shadow dark:bg-zinc-800">1</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">1</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}