{% extends "base.html" %} {% block title %} Home {% endblock %} {% block header %}<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
<script src="{{url_for('static', filename='chartjs/chartjs.js')}}"></script>
<script src="{{url_for('static', filename='chartjs/chartjs-chart-financial.js')}}"></script>
<script src="{{url_for('static', filename='chartjs/chartjs-chart-treemap.js')}}"></script>
<!-- <script src="{{url_for('static', filename='chartjs/chartjs-plugin-zoom.js')}}"></script> -->
<script src="{{url_for('static', filename='chartjs/chartjs-adapter-luxon.js')}}"></script>
<script src="{{url_for('static', filename='chartjs-utils.js')}}"></script>{% endblock %} 
{% block content %}
<div class="w-screen bg-zinc-100 dark:bg-zinc-900">
	<div class="flex flex-col h-screen gap-4 px-6 py-4">
		<div class="space-y-2">
			<div class="flex items-center px-3 py-2 text-gray-800 bg-white rounded-full dark:bg-zinc-800 dark:text-zinc-100">
				<marquee
					class="w-full"
					onmouseover="this.stop();"
					onmouseout="this.start();"
					scrollamount="6"
				>
					<div class="flex w-full space-x-8 text-sm">
						{% for i in marquee_data %}
						<div class="space-x-0.5 font-light">
							<span>{{ i['ticker'] }}</span>
							{% if i['last_close_pct'] > 0 %}
							<span class="text-emerald-500">+{{"%.2f" % i['last_close_pct']}}%</span>
							{% else %}
							<span class="text-rose-500">{{"%.2f" % i['last_close_pct']}}%</span>
							{% endif %}
						</div>
						{% endfor %}
					</div>
				</marquee>
			</div>
			<h1 class="text-2xl font-black text-gray-800 dark:text-zinc-100">
				Dashboard
			</h1>
		</div>
		<div class="space-y-4 overflow-y-scroll">
			<div class="grid h-32 grid-cols-4 gap-x-4">
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex flex-col">
						<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">
							Market Direction
						</h3>
							{% if chart_data["hsi"]["last_close_pct"] < 0%}
							<h2 class="text-3xl font-semibold text-gray-800 dark:text-zinc-100">Bearish</h2>
							<h4 class="font-light text-rose-500">
							{{"%.2f" % chart_data["hsi"]["last_close_pct"]}}%<ion-icon name="arrow-down-outline" class="align-middle"></ion-icon>
							</h4>
							{% else %}
							<h2 class="text-3xl font-semibold text-gray-800 dark:text-zinc-100">Bullish</h2>
							<h4 class="font-light text-emerald-500">
							{{"%.2f" % chart_data["hsi"]["last_close_pct"]}}%<ion-icon name="arrow-up-outline" class="align-middle"></ion-icon>
							</h4>
							{% endif %}
					</div>
				</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex flex-col">
						<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">
							Leader Index
						</h3>
						<h2 class="text-3xl font-semibold text-gray-800 uppercase dark:text-zinc-100">{{card_data['leading_index'][0]}}</h2>
							{% if card_data['leading_index'][1] < 0%}
							<h4 class="font-light text-rose-500">
							{{"%.2f" % card_data['leading_index'][1]}}%<ion-icon name="arrow-down-outline" class="align-middle"></ion-icon>
							</h4>
							{% else %}
							<h4 class="font-light text-emerald-500">
							{{"%.2f" % card_data['leading_index'][1]}}%<ion-icon name="arrow-up-outline" class="align-middle"></ion-icon>
							</h4>
							{% endif %}
					</div>
				</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex flex-col">
						<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">
							Leading Industry
						</h3>
						<h2 class="text-3xl font-semibold text-gray-800 dark:text-zinc-100">{{card_data['leading_industry'] | truncate(15)}}</h2>
						{% if card_data['leading_industry_pct'] < 0%}
						<h4 class="font-light text-rose-500">
						{{"%.2f" % (card_data['leading_industry_pct']*100)}}%<ion-icon name="arrow-down-outline" class="align-middle"></ion-icon>
						</h4>
						{% else %}
						<h4 class="font-light text-emerald-500">
						{{"%.2f" % (card_data['leading_industry_pct']*100)}}%<ion-icon name="arrow-up-outline" class="align-middle"></ion-icon>
						</h4>
						{% endif %}
					</div>
				</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex flex-col">
						<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">
							Market Momentum
						</h3>
							{% if card_data['mkt_momentum'] < 0%}
							<h2 class="text-3xl font-semibold text-gray-800 dark:text-zinc-100">Bearish</h2>
							<h4 class="font-light text-rose-500">
							{{"%.2f" % card_data['mkt_momentum']}}<ion-icon name="arrow-down-outline" class="align-middle"></ion-icon>
							</h4>
							{% else %}
							<h2 class="text-3xl font-semibold text-gray-800 dark:text-zinc-100">Bullish</h2>
							<h4 class="font-light text-emerald-500">
							{{"%.2f" % card_data['mkt_momentum']}}<ion-icon name="arrow-up-outline" class="align-middle"></ion-icon>
							</h4>
							{% endif %}
					</div>
				</div>
			</div>
			<div class="grid grid-cols-3 gap-x-4">
				<div class="h-full p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="bar-chart-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							HSCC Index
						</h2>
					</div>
					<div class="h-96"><canvas id="hscc-index-chart"></canvas></div>
				</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="bar-chart-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-medium text-gray-700 dark:text-zinc-200">
							HSCE Index
						</h2>
					</div>
					<div class="h-96"><canvas id="hsce-index-chart"></canvas></div>
				</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="bar-chart-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							HSI Index
						</h2>
					</div>
					<div class="h-96"><canvas id="hsi-index-chart"></canvas></div>
				</div>
			</div>
			<div class="grid grid-cols-2 gap-x-4">
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="trending-up-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							Donors
						</h2>
					</div>
					<table class="w-full">
					<thead>
						<tr class="top-0 bg-white dark:bg-zinc-800">
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Ticker
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Price
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Change
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Volume
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Market Cap
							</th>
						</tr>
					</thead>
					<tbody>
						{% for row in table_data['gainers'] %}
						<tr class="bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100">
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['ticker'] }}</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % row['price'] }}</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 text-emerald-500">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % (row['change']*100) }}%</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['volume'] | suffix }}</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['mkt_cap'] | suffix }}</a>
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="trending-down-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							Beggars
						</h2>
					</div>
					<table class="w-full">
					<thead>
						<tr class="top-0 bg-white dark:bg-zinc-800">
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Ticker
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Price
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Change
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Volume
							</th>
							<th class="w-6 px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								Market Cap
							</th>
						</tr>
					</thead>
					<tbody>
						{% for row in table_data['losers'] %}
						<tr class="bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100">
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['ticker'] }}</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % row['price'] }}</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 text-rose-500">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % (row['change']*100) }}%</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['volume'] | suffix }}</a>
								</form>
							</td>
							<td class="w-6 px-2 py-2 text-left border-b dark:border-zinc-700 dark:text-zinc-300">
								<form action="{{ url_for("stock_info") }}" method="POST">
									<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
									<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['mkt_cap'] | suffix }}</a>
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>
			</div>
			<div class="grid grid-cols-1 gap-x-4">
				<div class="h-full p-4 bg-white rounded-md shadow dark:bg-zinc-800 overflow-y-scroll">
					<div class="flex items-center space-x-1">
						<ion-icon name="newspaper-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							Watchlist
						</h2>
					</div>
					<div class="pt-4 h-96">
						<pre class="dark:text-white" style="white-space: pre-wrap;">{{ watchlist_rules_data | format_json }}</pre>
					</div>
				</div>
			</div>
			<div class="grid grid-cols-1 gap-x-4">
				<div class="h-full p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="camera-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							Market Overview
						</h2>
					</div>
					<div class="pt-4 h-96"><canvas id="mkt-overview-chart"></canvas></div>
				</div>
			</div>
			<div class="grid grid-cols-3 gap-x-4">
				<div class="col-span-2 p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="compass-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							Industry Rotations
						</h2>
					</div>
					<div class="h-96"><canvas id="all-industry-cmp-chart" class="comparison-chart"></canvas></div>
				</div>
				<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="podium-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							Industry Performance
						</h2>
					</div>
					<div class="h-96"><canvas id="all-industry-last-cmp-chart" class="comparison-chart"></canvas></div>
				</div>
			</div>
			<div class="grid grid-cols-3 h-96 gap-x-4">
				<div class="h-full col-span-2 p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="newspaper-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							News
						</h2>
					</div>
					<table class="w-full text-gray-800 dark:text-zinc-100">
						<thead>
							<tr>
								<th class="px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">Time</th>
								<th class="px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">Title</th>
							</tr>
						</thead>
						<tbody>
							{% for row in news %}
							<tr class="text-gray-600 bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100 dark:text-zinc-300 hover:text-gray-800">
								<td class="px-2 py-2 text-left border-b dark:border-zinc-700">{{row["time"]}}</td>
								<td class="px-2 py-2 text-left border-b dark:border-zinc-700"><a class="underline hover:text-blue-400 dark:hover:text-blue-500" href="{{row['link']}}">{{row["title"]}}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="h-full col-span-1 p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="flex items-center space-x-1">
						<ion-icon name="help-circle-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
						<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
							???
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// init chart + ctx
	// init chart + ctx
	var hscc_index_chart = undefined;
	var hsce_index_chart = undefined;
	var hsi_index_chart = undefined;
	var mkt_overview_chart = undefined;
	var all_industry_cmp_chart = undefined;
	var all_industry_last_cmp_chart = undefined;

	const hscc_index_ctx = document.getElementById('hscc-index-chart').getContext('2d');
	const hsce_index_ctx = document.getElementById('hsce-index-chart').getContext('2d');
	const hsi_index_ctx = document.getElementById('hsi-index-chart').getContext('2d');
	const mkt_overview_ctx = document.getElementById('mkt-overview-chart').getContext('2d');
	const all_industry_cmp_ctx = document.getElementById('all-industry-cmp-chart').getContext('2d');
	const all_industry_last_cmp_ctx = document.getElementById('all-industry-last-cmp-chart').getContext('2d');

	function draw_index(data, ctx, chart, color) {
		gradient = ctx.createLinearGradient(0, 0, 0, 300);
		gradient.addColorStop(0, `rgba(${color[0]}, ${color[1]}, ${color[2]}, 0.65)`);
		gradient.addColorStop(1, `rgba(${color[0]}, ${color[1]}, ${color[2]}, 0.3)`);

		chart_data = {
			labels: data.lbl,
			datasets: [{
				type: 'line',
				yAxisID: 'y',
				label: data.ticker,
				data: data.close,
				borderColor: `rgb(${color[0]}, ${color[1]}, ${color[2]})`,
				backgroundColor: gradient,
				fill: true,
				borderWidth: 2,
				tension: 0.4,
				pointRadius: 0,
			}]
		}

		tmp = JSON.parse(JSON.stringify(misc_options));
		tmp.plugins.legend.display = false;
		options = {
			legend: {
				onClick: function (e) {
					e.stopPropagation();
				}
			},
			scales: {
				x: {
					display: true,
					...x_scale_settings,
					type: 'timeseries',
					time: {
						unit: 'day',
						tooltipFormat: 'DD'
					},
				},
				y: {
					display: true,
					title: {
						display: false,
						text: 'Dollars (HKD)'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (add_suffix(val, 3))
					},
					...y_scale_settings
				}
			},
			...tmp

		}

		if (chart) {
			chart.destroy();
		}

		chart = new Chart(ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	async function draw_mkt_overview(data, last_close_pct) {
		chart_data = {
			// labels: data.labels,
			labels: ['0005-HK', '0011-HK', '0016-HK', '0066-HK', '0020-HK'],
			datasets: [{
				key: "mkt_cap",
				groups: ["ticker"],
				tree: data,
				borderWidth: 0,
				spacing: 3,
				backgroundColor: (ctx) => {
					tmp = last_close_pct[ctx.dataIndex];
					if (tmp < 0) {
						return dark ? `rgba(244, 63, 94, ${Math.min(-tmp*40, 0.75)})` : `rgba(225, 29, 72, ${Math.min(-tmp*80, 0.75)})`;
					} else {
						return dark ? `rgba(16, 185, 129, ${Math.min(tmp*40, 0.75)})`: `rgba(5, 150, 105, ${Math.min(tmp*80, 0.75)})`;
					}
				},
				labels: {
					color: 'white',
          font: {
						family: 'sans-serif',
            size: (ctx) => {
							a = -0.0001930;
							b = 0.1858;
							c = -5.888;
							x = ctx.element.width;
							return Math.max(a * x**2 + b * x + c, 10.5);
						},
						weight: 'lighter'
          },
					display: true,
					position: 'top',
					padding: (ctx) => {
						return Math.min(Math.max(ctx.element.width / 20, 4), 14);
					},
					align: 'left',
					formatter: function (ctx) {
						if (ctx.element.width > 50 && ctx.element.height > 30) {
							return [ctx.raw.g, (last_close_pct[ctx.dataIndex] * 100).toFixed(2) + '%'];
						}
					}
				}
				// borderColor: "rgba(255,255,255, 1)"
			}]
		}

		options = {
			plugins: {
				legend: {
					display: false
				},
				crosshair: false,
				cursorpos: false,
				tooltip: {
					enabled: false
				},
			},
			legend: {
				onClick: function (e) {
					e.stopPropagation();
				}
			},
			interaction: {
				// mode: 'index',
				intersect: false,
			},
			responsive: true,
			maintainAspectRatio: false
		}

		if (mkt_overview_chart) {
			mkt_overview_chart.destroy();
		}

		mkt_overview_chart = new Chart(mkt_overview_ctx, {
			type: 'treemap',
			data: chart_data,
			options: options
		});
	}

	function draw_all_industry_cmp(data) {
		chart_data = {
			datasets: data
		}

		options = {
			...misc_options,
			scales: {
				x: {
					display: true,
					...x_scale_settings,
					type: 'timeseries',
					time: {
						unit: 'day',
						tooltipFormat: 'DD'
					}
				},
				y: {
					display: true,
					min: -0.3,
					max: 0.3,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				},
			},
			interaction: {
				mode: 'point',
				intersect: false,
			}
		}

		if (all_industry_cmp_chart) {
			all_industry_cmp_chart.destroy();
		}

		all_industry_cmp_chart = new Chart(all_industry_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	function draw_all_industry_last_cmp(data) {
		chart_data = {
			labels: data.labels,
			datasets: [{
				data: data.data,
				backgroundColor: data.background_color
			}]
		}

		options = {
			indexAxis: 'y',
			scales: {
				x: {
					...x_scale_settings,
					display: true,
					type: 'linear',
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						callback: (val) => (val + '%')
					},
					min: -2,
					max: 2
				},
				y: {
					...y_scale_settings,
					display: true,
					ticks: {
						autoSkip: false,
						callback: (val, index, values) => {
							label = data.labels[index];
							if (label.length > 30) {
								return label.slice(0, 27) + '...';
							}
							return label;
						},
						font: {
							size: 10
						}
					},
				},
			},
			plugins: {
				legend: {
					display: false
				},
				crosshair: false,
				cursorpos: false,
				tooltip: {
					mode: 'nearest',
					backgroundColor: "rgba(0, 0, 0, 0.5)",
					titleColor: "rgba(255, 255, 255, 0.7)",
					bodyColor: "rgba(255, 255, 255, 0.7)",
					callbacks: {
						label: function(context) {
							if (typeof context.parsed.x == 'number' && context.label) {
								return context.label + ': ' + context.parsed.x.toFixed(2) + '%';
							}
							return '';
						}
					}
				}
			},
			legend: {
				onClick: function (e) {
					e.stopPropagation();
				}
			},
			interaction: {
				mode: 'index',
				intersect: false,
			},
			responsive: true,
			maintainAspectRatio: false
		}

		if (all_industry_last_cmp_chart) {
			all_industry_last_cmp_chart.destroy();
		}

		all_industry_last_cmp_chart = new Chart(all_industry_last_cmp_ctx, {
			type: 'bar',
			data: chart_data,
			options: options
		});
	}

	data = {{ chart_data | tojson }};

	draw_index(data.hscc, hscc_index_ctx, hscc_index_chart, [102, 126, 234]);
	draw_index(data.hsce, hsce_index_ctx, hsce_index_chart, [234, 102, 126]);
	draw_index(data.hsi, hsi_index_ctx, hsi_index_chart, [126, 234, 102]);
	draw_mkt_overview(data.mkt_overview_data, data.mkt_overview_last_close_pct);
	draw_all_industry_cmp(data.all_industry_cmp);
	draw_all_industry_last_cmp(data.all_industry_last_cmp);

	$('document').ready(() => {
		setTimeout(() => {mkt_overview_chart.update()}, 500)
		$("#theme-toggle").bind('click', function() {
			// draw_mkt_overview(data.mkt_overview_data, data.mkt_overview_last_close_pct);
			mkt_overview_chart.update()
		})
	})
</script>
{% endblock %}
