{% extends "base.html" %} {% block title %} Industries {% endblock %} {% block header %}
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
<script src="{{url_for('static', filename='chartjs/chartjs.js')}}"></script>
<script src="{{url_for('static', filename='chartjs/chartjs-adapter-luxon.js')}}"></script>
<script src="{{url_for('static', filename='chartjs-utils.js')}}"></script>
{% endblock %} 
{% block content %}
<div class="flex flex-col w-screen h-screen px-6 py-4 space-y-4 overflow-y-scroll bg-gray-100 dark:bg-zinc-900">
	<div class="space-y-2">
		<h1 class="text-2xl font-black text-gray-800 dark:text-zinc-100">
			Industries
		</h1>
		<div class="grid grid-cols-2 gap-x-4">
			<div class="space-y-2">
				<div class="flex items-center space-x-1">
					<h2 class="text-2xl font-semibold dark:text-zinc-200">
						Donors
					</h2>
				</div>
				<div class="overflow-y-scroll rounded-md">
					<table class="w-full">
						<thead>
							<tr class="top-0 bg-white dark:bg-zinc-800">
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Industry
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Change
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Top Ticker
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Distribution
								</th>
							</tr>
						</thead>
						<tbody>
							{% for row in table_data[0][:5] %}
							<tr class="odd:bg-gray-200/20 even:bg-gray-200 dark:even:bg-zinc-800/50 dark:odd:bg-zinc-800/10 dark:hover:bg-zinc-700 hover:bg-gray-300">
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['top_ticker']['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['industry'] }}</a>
									</form>
								</td>
								<td class="px-2 py-2700 text-emerald-500">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['top_ticker']['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % (row['close_pct']*100) }}%</a>
									</form>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['top_ticker']["ticker"] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['top_ticker']["ticker"] }}
											{% if row['top_ticker']['close_pct'] > 0 %}
											<span class="text-emerald-500">({{ "%.2f" % (row['top_ticker']['close_pct']*100) }}%)</span>
											{% else %}
											<span class="text-rose-500">({{ "%.2f" % (row['top_ticker']['close_pct']*100) }}%)</span>
											{% endif %}
										</a>
									</form>
								</td>
								<td class="items-center w-6 px-2 py-2 text-left dark:text-zinc-300">
									<div class="flex w-full h-2 mt-3 overflow-hidden rounded-lg">
										<div class="h-full text-xs text-center text-white bg-rose-500"
											style="width: {{row['perf_distribution'][0]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-rose-400"
											style="width: {{row['perf_distribution'][1]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-gray-300 dark:bg-zinc-300"
											style="width: {{row['perf_distribution'][2]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-emerald-400"
											style="width: {{row['perf_distribution'][3]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-emerald-500"
											style="width: {{row['perf_distribution'][4]*100}}%;"></div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="space-y-2">
				<div class="flex items-center space-x-1">
					<h2 class="text-2xl font-semibold dark:text-zinc-200">
						Beggars
					</h2>
				</div>
				<div class="overflow-y-scroll rounded-md">
					<table class="w-full">
						<thead>
							<tr class="top-0 bg-white dark:bg-zinc-800">
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Industry
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Change
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Bottom Ticker
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Distribution
								</th>
							</tr>
						</thead>
						<tbody>
							{% for row in table_data[1][:5] %}
							<tr class="odd:bg-gray-200/20 even:bg-gray-200 dark:even:bg-zinc-800/50 dark:odd:bg-zinc-800/10 dark:hover:bg-zinc-700 hover:bg-gray-300">
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['bottom_ticker']['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['industry'] }}</a>
									</form>
								</td>
								<td class="px-2 py-2700 text-rose-500">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['bottom_ticker']['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % (row['close_pct']*100) }}%</a>
									</form>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['top_ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['bottom_ticker']["ticker"] }}
											{% if row['bottom_ticker']['close_pct'] > 0 %}
											<span class="text-emerald-500">({{ "%.2f" % (row['bottom_ticker']['close_pct']*100) }}%)</span>
											{% else %}
											<span class="text-rose-500">({{ "%.2f" % (row['bottom_ticker']['close_pct']*100) }}%)</span>
											{% endif %}
										</a>
									</form>
								</td>
								<td class="items-center w-6 px-2 py-2 text-left dark:text-zinc-300">
									<div class="flex w-full h-2 mt-3 overflow-hidden rounded-lg">
										<div class="h-full text-xs text-center text-white bg-rose-500"
											style="width: {{row['perf_distribution'][0]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-rose-400"
											style="width: {{row['perf_distribution'][1]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-gray-300 dark:bg-zinc-300"
											style="width: {{row['perf_distribution'][2]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-emerald-400"
											style="width: {{row['perf_distribution'][3]*100}}%;"></div>
										<div class="h-full text-xs text-center text-white bg-emerald-500"
											style="width: {{row['perf_distribution'][4]*100}}%;"></div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="space-y-2">
		<div class="flex justify-between w-full">
			<h1 class="text-2xl font-black text-gray-800 dark:text-zinc-100">
				Industry Overview
			</h1>
			<form>
				<select name="industry_detail"
					class="px-3 py-1 text-sm bg-gray-200 rounded-md placeholder:normal-case dark:text-zinc-300 dark:bg-zinc-800 placeholder:text-gray-400 dark:placeholder:text-zinc-500"
					onchange="filter_industry(this.form)">
					<option value="Banks" {% if filter_industry=="Banks" %} selected {% endif %}>Banks</option>
					{% for industry in industries %}
					{% if industry != "Banks" %}
					<option value="{{industry}}" {% if filter_industry==industry %} selected {% endif %}>{{industry}}</option>
					{% endif %}
					{% endfor %}
				</select>
			</form>
		</div>
		<div id="industry_detail">
			{% if industry_detail|length != 0 %}
			{% for industry, table_data in industry_detail.items() %}
			<div class="space-y-2">
				<div class="flex items-center space-x-1">
					<h2 class="text-2xl font-semibold dark:text-zinc-200">
						{{industry}}
					</h2>
				</div>
				<div class="overflow-y-scroll rounded-md {% if table_data|length > 10 %} h-96 {% endif %}">
					<table class="w-full">
						<thead>
							<tr class="sticky top-0 bg-white dark:bg-zinc-800">
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Ticker
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Name
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Price
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Change
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Market Cap
								</th>
								<th
									class="w-6 px-2 py-2 text-left text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Strength Index
								</th>
							</tr>
						</thead>
						<tbody>
							{% for row in table_data %}
							<tr class="odd:bg-gray-200/20 even:bg-gray-200 dark:even:bg-zinc-800/50 dark:odd:bg-zinc-800/10 dark:hover:bg-zinc-700 hover:bg-gray-300">
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['ticker'] }}</a>
									</form>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['name'] }}</a>
									</form>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % row['last_close'] }}</a>
									</form>
								</td>
								{% if row['last_close_pct'] > 0 %}
								<td class="px-2 py-2 text-emerald-500">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % (row['last_close_pct']*100) }}%</a>
									</form>
								</td>
								{% elif row['last_close_pct'] == 0 %}
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-400">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">0.00%</a>
									</form>
								</td>
								{% else %}
								<td class="px-2 py-2 dark:border-zinc-700 text-rose-500">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % (row['last_close_pct']*100) }}%</a>
									</form>
								</td>
								{% endif %}
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-300">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ row['mkt_cap'] | suffix }}</a>
									</form>
								</td>
								{% if row['last_si'] > 0 %}
								<td class="px-2 py-2 text-emerald-500">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % row['last_si'] }}</a>
									</form>
								</td>
								{% elif row['last_si'] == 0 %}
								<td class="px-2 py-2 text-gray-700 dark:text-zinc-400">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">0.00</a>
									</form>
								</td>
								{% else %}
								<td class="px-2 py-2 dark:border-zinc-700 text-rose-500">
									<form action="{{ url_for("stock_info") }}" method="POST">
										<input type="hidden" name="ticker" value="{{ row['ticker'] }}">
										<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ "%.2f" % row['last_si'] }}</a>
									</form>
								</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="px-8 py-4">
				<div
					class="flex items-center w-full border-8 border-gray-200 border-dashed rounded-md dark:border-zinc-700 h-96">
					<div class="w-full space-y-2 text-center text-gray-300 dark:text-zinc-700">
						<h2 class="text-4xl font-bold">No data available</h2>
						<ion-icon name="server-outline" class="w-24 h-24"></ion-icon>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="grid grid-cols-1 gap-x-4">
		<div class="flex flex-col col-span-1 p-4 bg-white rounded-md shadow dark:bg-zinc-800">
			<div class="flex items-center space-x-1">
				<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
					Ticker comparison
				</h2>
			</div>
			<div class="h-96"><canvas id="industry-tickers-cmp-chart" class="comparison-chart"></canvas></div>
		</div>
	</div>
	<div class="grid grid-cols-3 gap-x-4 h-96">
		<div class="flex flex-col col-span-1 p-4 bg-white rounded-md shadow dark:bg-zinc-800 h-96">
			<div class="flex flex-col justify-between space-y-2">
				<h2 class="text-2xl font-semibold dark:text-zinc-200">
					Stock Comparison
				</h2>
				<form
					onsubmit="draw_stock_cmp(industry_data, document.getElementById('ticker-cmp-txtbox').value); return false;">
					<input type="text" id="ticker-cmp-txtbox"
						class="h-full px-2 py-1 text-sm uppercase rounded-md bg-zinc-200 dark:bg-zinc-900 dark:text-zinc-300 placeholder:normal-case placeholder:text-zinc-400 dark:placeholder:text-zinc-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
						placeholder="Ticker..." autocomplete="off" />
				</form>
			</div>
			<div class="grow">
				<canvas id="stock-comparison-chart" class="h-48 comparison-chart"></canvas>
			</div>
		</div>
		<div class="flex flex-col col-span-1 p-4 bg-white rounded-md shadow dark:bg-zinc-800 h-96">
			<div class="flex flex-col justify-between space-y-2">
				<h2 class="text-2xl font-semibold dark:text-zinc-200">
					Industry Comparison
				</h2>
				<select required id="industry-cmp-txtbox"
					class="h-full px-2 py-1 text-sm rounded-md text-zinc-400 bg-zinc-200 dark:text-zinc-500 dark:bg-zinc-900 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
					onchange="draw_industry_cmp(industry_data, document.getElementById('industry-cmp-txtbox').value)">
					<option value="">Select an industry...</option>
					{% for industry in industries %} {% if industry != None %}
					<option value="{{industry}}">{{industry}}</option>
					{% endif %} {% endfor %}
				</select>
			</div>
			<div class="grow">
				<canvas id="industry-comparison-chart" class="comparison-chart"></canvas>
			</div>
		</div>
		<div class="flex flex-col col-span-1 p-4 bg-white rounded-md shadow dark:bg-zinc-800 h-96">
			<div class="flex flex-col justify-between space-y-2">
				<h2 class="text-2xl font-semibold dark:text-zinc-200">
					Index Comparison
				</h2>
				<select required id="index-cmp-txtbox"
					class="h-full px-2 py-1 text-sm rounded-md text-zinc-400 bg-zinc-200 dark:text-zinc-500 dark:bg-zinc-900 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
					onchange="draw_index_cmp(industry_data, document.getElementById('index-cmp-txtbox').value)">
					<option value="">Select an index...</option>
					{% for index in indexes %} {% if index != None %}
					<option value="{{index}}">{{index}}</option>
					{% endif %} {% endfor %}
				</select>
			</div>
			<div class="grow">
				<canvas id="index-comparison-chart" class="comparison-chart"></canvas>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
	async function filter_industry(evt) {
		const formData = new FormData(evt);
		const params = Object.fromEntries(formData);

		$.post("/industries", params, function (data) {
			$("#industry_detail").html($(data).find("#industry_detail").html())
		})

		await $.get('/api/get_industry_tickers_accum_close_pct', {
			industry: params.industry_detail,
			period: 60
		}, function (res) {
			industry_tickers_data = JSON.parse(res);
		}).catch(error => console.log(error));

		await $.get('/api/get_industry_close_pct', {
			industry: params.industry_detail,
			period: 60
		}, function (res) {
			industry_data = JSON.parse(res);
		}).catch(error => console.log(error));

		draw_charts(industry_data, industry_tickers_data);
	}

	var current_industry = 'Banks'

	var current_cmp_ticker = '0001-HK'
	var current_cmp_industry = 'Properties'
	var current_cmp_index = '^HSI'

	var industry_tickers_cmp_chart = undefined;
	var stock_cmp_chart = undefined;
	var industry_cmp_chart = undefined;
	var index_cmp_chart = undefined;

	const industry_tickers_cmp_ctx = document.getElementById('industry-tickers-cmp-chart').getContext('2d');
	const stock_cmp_ctx = document.getElementById('stock-comparison-chart').getContext('2d');
	const industry_cmp_ctx = document.getElementById('industry-comparison-chart').getContext('2d');
	const index_cmp_ctx = document.getElementById('index-comparison-chart').getContext('2d');

	function draw_industry_tickers_cmp(data) {
		chart_data = {
			datasets: data
		}

		options = {
			...misc_options,
			scales: {
				x: {
					display: true,
					...x_scale_settings,
					type: 'timeseries',
					time: {
						unit: 'day',
						tooltipFormat: 'DD'
					}
				},
				y: {
					display: true,
					min: -0.2,
					max: 0.2,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				},
			},
			interaction: {
				mode: 'point',
				intersect: false,
			}
		}

		if (industry_tickers_cmp_chart) {
			industry_tickers_cmp_chart.destroy();
		}

		industry_tickers_cmp_chart = new Chart(industry_tickers_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	async function draw_stock_cmp(data, other_ticker) {
		current_cmp_ticker = other_ticker;

		let data2 = undefined;

		await $.get('/api/get_stock_close_pct', {
			ticker: other_ticker.toUpperCase(),
			period: 60
		}, function (res) {
			data2 = JSON.parse(res);
		});

		chart_data = {
			datasets: [{
				label: data.industry,
				data: data.accum_close_pct,
				borderColor: 'rgb(234, 63, 51)',
				...line_chart_settings
			}, {
				label: data2.ticker.replace("-", "."),
				data: data2.accum_close_pct,
				borderColor: 'rgba(102, 126, 234)',
				...line_chart_settings
			}]
		};

		options = {
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					display: true,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (stock_cmp_chart) {
			stock_cmp_chart.destroy();
		}

		stock_cmp_chart = new Chart(stock_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	async function draw_industry_cmp(data, industry) {
		current_cmp_industry = industry;

		let data2 = undefined;

		await $.get('/api/get_industry_close_pct', {
			industry: industry,
			period: 60
		}, function (res) {
			data2 = JSON.parse(res);
		});

		chart_data = {
			datasets: [{
				label: data.industry,
				data: data.accum_close_pct,
				borderColor: 'rgb(234, 63, 51)',
				...line_chart_settings
			}, {
				label: data2.industry,
				data: data2.accum_close_pct,
				borderColor: 'rgba(102, 126, 234)',
				...line_chart_settings
			}]
		}

		options = {
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					display: true,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				},
			},
			...misc_options
		}

		if (industry_cmp_chart) {
			industry_cmp_chart.destroy();
		}

		industry_cmp_chart = new Chart(industry_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	async function draw_index_cmp(data, index) {
		current_cmp_index = index;

		let data2 = undefined;

		await $.get('/api/get_stock_close_pct', {
			ticker: index,
			period: 60
		}, function (res) {
			data2 = JSON.parse(res);
		});

		chart_data = {
			datasets: [{
				label: data.industry,
				data: data.accum_close_pct,
				borderColor: 'rgb(234, 63, 51)',
				...line_chart_settings
			}, {
				label: data2.ticker,
				data: data2.accum_close_pct,
				borderColor: 'rgba(102, 126, 234)',
				...line_chart_settings
			}]
		};

		options = {
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					display: true,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (index_cmp_chart) {
			index_cmp_chart.destroy();
		}

		index_cmp_chart = new Chart(index_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	function draw_charts(industry_data, industry_tickers_data) {
		console.log(industry_data);

		draw_stock_cmp(industry_data, current_cmp_ticker);
		draw_industry_cmp(industry_data, current_cmp_industry);
		draw_index_cmp(industry_data, current_cmp_index);
		draw_industry_tickers_cmp(industry_tickers_data);
	}

	{% if chart_data %}
	var industry_data = {{ chart_data.industry_close_pct | tojson }};
	var industry_tickers_data = {{ chart_data.industry_tickers | tojson }};
	draw_charts(industry_data, industry_tickers_data);
	{% endif %}
</script>
{% endblock %}