{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<style>
	input::-webkit-calendar-picker-indicator {
		opacity: 0;
	}
</style>
<div
  class="flex flex-col w-screen h-screen px-6 py-4 bg-gray-100 dark:bg-zinc-900"
>
  <div class="grid grid-cols-2 gap-x-4">
    <div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
			<table class="w-full">
        <thead>
          <tr>
            <th
              class="p-4 font-normal text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap"
            >
              <input
                type="checkbox"
                name="checked"
                class="w-4 h-4 bg-white border border-gray-300 rounded appearance-none allcb form-tick bg-check checked:bg-indigo-500 checked:border-transparent focus:outline-none"
              />
            </th>
            <th
              class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100"
            >
              Var 1
            </th>
            <th
						class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100"
            >
              Operator
            </th>
            <th
						class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100"
            >Var 2</th>
						<th
						class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100"
						></th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(6) %}
          <tr class="text-center text-gray-700 dark:text-zinc-200">
            <td class="p-4 border-b-2 dark:border-zinc-500">
              <div class="flex justify-center">
              	<input
	                type="checkbox"
	                name="checked"
	                class="w-4 h-4 bg-white border border-gray-300 rounded appearance-none form-tick bg-check checked:bg-indigo-500 checked:border-transparent focus:outline-none"
	              />
              </div>
            </td>
            <td class="p-4 border-b-2 dark:border-zinc-500 var1">a</td>
            <td class="p-4 border-b-2 dark:border-zinc-500 op">b</td>
						<td class="p-4 border-b-2 dark:border-zinc-500 var2">c</td>
            <td class="p-4 border-b-2 dark:border-zinc-500">
              <div class="flex items-center justify-end space-x-2">
								<button
	                type="button"
	                class="inline-flex items-center p-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-blue-600 rounded-md shadow-md hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
									onclick="edit_row($(this));"
	              >
								<ion-icon class="w-5 h-5" name="create-outline"></ion-icon>
	              </button>
              	<button
	                type="button"
	                class="inline-flex items-center p-2 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-md shadow-md bg-rose-600 hover:bg-rose-700 focus:ring-rose-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
									onclick="delete_row($(this));"
								>
								<ion-icon class="w-5 h-5" name="close-outline"></ion-icon>
	              </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
		<div class="p-4 bg-white rounded-md shadow dark:bg-zinc-800">
			<table class="w-full">
        <thead>
          <tr>
            <th class="p-4 font-normal text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap">
              <input
                type="checkbox"
                name="checked"
                class="w-4 h-4 bg-white border border-gray-300 rounded appearance-none allcb form-tick bg-check checked:bg-indigo-500 checked:border-transparent focus:outline-none"
              />
            </th>
            <th class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100">
              Var 1
            </th>
            <th class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100">
              Operator
            </th>
            <th class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100">
							Var 2
						</th>
						<th class="p-4 font-semibold text-gray-900 border-b-2 dark:border-zinc-500 whitespace-nowrap dark:text-zinc-100"></th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(6) %}
          <tr class="text-center text-gray-700 dark:text-zinc-200">
            <td class="p-4 border-b-2 dark:border-zinc-500">
              <div class="flex justify-center">
              	<input
	                type="checkbox"
	                name="checked"
	                class="w-4 h-4 bg-white border border-gray-300 rounded appearance-none form-tick bg-check checked:bg-indigo-500 checked:border-transparent focus:outline-none"
	              />
              </div>
            </td>
            <td class="p-4 border-b-2 dark:border-zinc-500">a</td>
            <td class="p-4 border-b-2 dark:border-zinc-500">b</td>
						<td class="p-4 border-b-2 dark:border-zinc-500">c</td>
            <td class="p-4 border-b-2 dark:border-zinc-500">
              <div class="flex items-center justify-end space-x-2">
								<button
	                type="button"
	                class="inline-flex items-center p-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-blue-600 rounded-md shadow-md hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
	              >
									<ion-icon class="w-5 h-5" name="create-outline"></ion-icon>
	              </button>
              	<button
	                type="button"
	                class="inline-flex items-center p-2 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-md shadow-md bg-rose-600 hover:bg-rose-700 focus:ring-rose-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
	              >
									<ion-icon class="w-5 h-5" name="close-outline"></ion-icon>
	              </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="flex p-4 space-x-2">
      <select
        class="block w-2/6 px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
      >
        <option value="MA10">MA10</option>
      </select>
      <select
				class="block w-1/6 px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
      >
        <option value="≤">≤</option>
        <option value="≥">≥</option>
      </select>
      <select
				class="block w-2/6 px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
      >
        <option value="MA10">MA10</option>
      </select>
      <button
        type="button"
        class="px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-lg shadow-md bg-emerald-600 hover:bg-emerald-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        Add
      </button>
    </div>
    <div class="flex p-4 space-x-2">
			<div class="w-2/6">
				<input list="term1" class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm w focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
				/>
				<div class="absolute z-10 mt-1 bg-white rounded-md shadow-lg w-fit">
					<ul tabindex="-1" class="py-1 overflow-auto text-base rounded-md max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
							<li id="listbox-item-0" role="option" class="relative py-2 pl-3 text-gray-900 cursor-default select-none hover:bg-indigo-500 hover:text-white pr-9">
									<div class="flex items-center">
											<span class="block ml-3 font-normal truncate">
													MA10
											</span>
									</div>
							</li>
							<li id="listbox-item-1" role="option" class="relative py-2 pl-3 text-gray-900 cursor-default select-none hover:bg-indigo-500 hover:text-white pr-9">
									<div class="flex items-center">
											<span class="block ml-3 font-normal truncate">
													MA20
											</span>
									</div>
							</li>
					</ul>
				</div>
			</div>
      <select
				class="block w-1/6 px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
      >
        <option value="≤">≤</option>
        <option value="≥">≥</option>
      </select>
      <select
				class="block w-2/6 px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
      >
        <option value="MA10">MA10</option>
      </select>
      <button
        type="button"
        class="px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-lg shadow-md bg-emerald-600 hover:bg-emerald-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        Add
      </button>
    </div>
  </div>
</div>
<script>
	$(".allcb").change(function () {
    $($(this).parents()[3]).find("tbody tr td input[type='checkbox']").prop(
      "checked",
      $(this).prop("checked")
    );
  });
	function delete_row(btn) {
		btn.parents('tr').remove();
	}

	function edit_row(btn) {
		var1 = btn.parents('tr').find('.var1')
		var2 = btn.parents('tr').find('.var2')
		op = btn.parents('tr').find('.op')

		if (btn.hasClass('editing')) {
			btn.removeClass('editing');

			var1_text = var1.find('select').val();
			var2_text = var2.find('select').val();
			op_text = op.find('select').val();
			
			var1.empty().text(var1_text);
			var2.empty().text(var2_text);
			op.empty().text(op_text);

		} else {
			btn.addClass('editing');

			dropdown_var = $(`
				<select
					class="block px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
				>
					<option>MA10</option>
				</select>`
			);

			dropdown_op = $(`
				<select
					class="block px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300"
				>
					<option>≤</option>
					<option>≥</option>
				</select>`
			);

			var1.empty().append(dropdown_var.clone());
			var2.empty().append(dropdown_var.clone());
			op.empty().append(dropdown_op);
		}
	}
</script>
{% endblock %}
