{% extends "base.html" %} {% block title %} Edit Rules {% endblock %} {% block header %}
<style>
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}
</style>
{% endblock %}{% block content
%}
<div class="flex flex-col w-screen h-screen px-6 py-4 overflow-y-scroll bg-gray-100 dark:bg-zinc-900">
	<div class="flex justify-between pb-5">		
		<div class="text-base font-medium text-center text-gray-500 border-b border-gray-300 dark:text-zinc-400 dark:border-zinc-700 h-fit">
			<ul class="flex flex-wrap -mb-px">
				<li class="mr-2">
					<a href="/rules/edit" class="block px-2 py-1 text-indigo-600 border-b-2 border-indigo-600 rounded-t-lg dark:text-indigo-500 dark:border-indigo-500">Technical Indicators</a>
				</li>
				<li class="mr-2">
					<a href="/cdl/edit" class="block px-2 py-1 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-zinc-300">Candlestick</a>
				</li>
			</ul>
		</div>
		<div class="grid w-32 grid-cols-1">
			<button type="button" id="update-db-button"
				class="w-full px-3 py-2 text-sm font-semibold text-white transition ease-in bg-gray-600 rounded-lg dark:bg-zinc-800 dark:hover:bg-zinc-700 font-semiboldtext-center duration-10 hover:bg-gray-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
				onclick="$('#update-db-loading').show(); $('#update-db-button').hide(); $.get('/rules/save', function(res) {$('#update-db-loading').hide(); $('#update-db-button').show(); $('#update-db-button').text('Success');})">
				Update
			</button>
			<button disabled type="button" id="update-db-loading" class="hidden w-full px-3 py-2 text-sm font-semibold text-white transition ease-in bg-gray-600 rounded-lg dark:bg-zinc-800 dark:hover:bg-zinc-700 font-semiboldtext-center duration-10 hover:bg-gray-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
			>
				<svg role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
				<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
				</svg>
				Loading...
			</button>
		</div>
	</div>
	<div class="grid grid-cols-2 mb-2">
	<h2 class="sticky top-0 text-2xl font-semibold dark:text-zinc-100 ">Buy Rules</h2>
	<h2 class="sticky top-0 text-2xl font-semibold dark:text-zinc-100 ">Sell Rules</h2>
	</div>
	<div class="grid grid-cols-2 gap-x-4 h-4/6">
			<div class="overflow-y-scroll rounded-md">
				<table class="w-full border-separate rounded-md border-spacing-0">
					<thead>
						<tr class="sticky top-0 z-10 bg-gray-200 dark:bg-zinc-800">
							<th class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								<p class="mx-7">Var 1</p>
							</th>
							<th
								class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								<p class="mx-7">Operator</p>
							</th>
							<th
								class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								<p class="mx-7">Var 2</p>
							</th>
							<th
								class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
							</th>
						</tr>
					</thead>
					<tbody col="1">
						{% for rule in buy %}
						<tr
							class="text-center odd:bg-gray-200/10 even:bg-gray-200 dark:even:bg-zinc-800 dark:odd:bg-zinc-800/10 dark:hover:bg-zinc-700 hover:bg-gray-300">
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 var1">
									<p>{{rule.split(" ")[0]}}</p>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 op">
									<p>{{rule.split(" ")[1]}}</p>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 var2">
									<p>{{rule.split(" ")[2]}}</p>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300">
									<div class="flex items-center justify-end">
										<button type="button"
											class="inline-flex items-center p-2 mr-2 text-base font-semibold text-center edit-btn"
											onclick="edit_row($(this), true);">
											<ion-icon class="w-5 h-5" name="create-outline"></ion-icon>
										</button>

										<button type="button"
											class="inline-flex items-center hidden p-2 mr-2 text-base font-semibold text-center confirm-btn"
											onclick="edit_row($(this), false);">
											<ion-icon class="w-5 h-5" name="checkbox-outline"></ion-icon>
										</button>

										<button type="button"
											class="inline-flex items-center p-2 mr-2 text-base font-semibold text-center delete-btn"
											onclick="delete_row($(this));">
											<ion-icon class="w-5 h-5" name="close-outline"></ion-icon>
										</button>
									</div>
								</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="overflow-y-scroll rounded-md">
				<table class="w-full border-separate rounded-md border-spacing-0">
					<thead>
						<tr class="sticky top-0 z-10 bg-gray-200 dark:bg-zinc-800">
							<th class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								<p class="mx-7">Var 1</p>
							</th>
							<th
								class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								<p class="mx-7">Operator</p>
							</th>
							<th
								class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
								<p class="mx-7">Var 2</p>
							</th>
							<th
								class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
							</th>
						</tr>
					</thead>
					<tbody col="2">
						{% for rule in sell %}
						<tr
							class="text-center odd:bg-gray-200/10 even:bg-gray-200 dark:even:bg-zinc-800 dark:odd:bg-zinc-800/10 dark:hover:bg-zinc-700 hover:bg-gray-300">
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 var1">
									<p>{{rule.split(" ")[0]}}</p>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 op">
									<p>{{rule.split(" ")[1]}}</p>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 var2">
									<p>{{rule.split(" ")[2]}}</p>
								</td>
								<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300">
									<div class="flex items-center justify-end">
										<button type="button"
											class="inline-flex items-center p-2 mr-2 text-base font-semibold text-center edit-btn"
											onclick="edit_row($(this), true);">
											<ion-icon class="w-5 h-5" name="create-outline"></ion-icon>
										</button>

										<button type="button"
											class="inline-flex items-center hidden p-2 mr-2 text-base font-semibold text-center confirm-btn"
											onclick="edit_row($(this), false);">
											<ion-icon class="w-5 h-5" name="checkbox-outline"></ion-icon>
										</button>

										<button type="button"
											class="inline-flex items-center p-2 mr-2 text-base font-semibold text-center delete-btn"
											onclick="delete_row($(this));">
											<ion-icon class="w-5 h-5" name="close-outline"></ion-icon>
										</button>
									</div>
								</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	</div>
	<div class="grid grid-cols-2">
		<div class="flex p-4 space-x-2">
			<div class="relative w-2/6 group autocomplete-wrapper">
				<input
					class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm term-input focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300" />
				<ul tabindex="0"
					class="absolute z-10 hidden py-1 mt-1 overflow-y-scroll text-base bg-white rounded-md shadow-lg autocomplete max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm w-fit group-focus-within:block">
				</ul>
			</div>
			<select
				class="block w-1/6 px-2 py-1 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300">
				<option value="≤">≤</option>
				<option value="≥">≥</option>
			</select>
			<div class="relative w-2/6 group autocomplete-wrapper">
				<input
					class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm term-input focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300" />
				<ul tabindex="0"
					class="absolute z-10 hidden py-1 mt-1 overflow-y-scroll text-base bg-white rounded-md shadow-lg autocomplete max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm w-fit group-focus-within:block">
				</ul>
			</div>
			<button type="button"
				class="flex items-center px-2.5 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-lg shadow-md bg-zinc-800 hover:bg-zinc-700 focus:ring-zinc-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
				onclick="add_row($(this), 1);">
				<ion-icon name="add-outline" class="w-6 h-6"></ion-icon>
			</button>
		</div>
		<div class="flex p-4 space-x-2">
			<div class="relative w-2/6 group autocomplete-wrapper">
				<input
					class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm term-input focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300" />
				<ul tabindex="0"
					class="absolute z-10 hidden py-1 mt-1 overflow-y-scroll text-base bg-white rounded-md shadow-lg autocomplete max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm w-fit group-focus-within:block">
				</ul>
			</div>
			<select
				class="block w-1/6 px-2 py-1 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300">
				<option value="≤">≤</option>
				<option value="≥">≥</option>
			</select>
			<div class="relative w-2/6 group autocomplete-wrapper">
				<input
					class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm term-input focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300" />
				<ul tabindex="0"
					class="absolute z-10 hidden py-1 mt-1 overflow-y-scroll text-base bg-white rounded-md shadow-lg autocomplete max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm w-fit group-focus-within:block">
				</ul>
			</div>
			<button type="button"
				class="flex items-center px-2.5 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-lg shadow-md bg-zinc-800 hover:bg-zinc-700 focus:ring-zinc-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
				onclick="add_row($(this), 2);">
				<ion-icon name="add-outline" class="w-6 h-6"></ion-icon>
			</button>
		</div>
	</div>
</div>
<script>
	const options = ["MA10", "MA20", "MA50", "MA100", "MA250", "RSI"];

	$(".allcb").change(function () {
		$(this).parents('table').find("input[type='checkbox']").prop(
			"checked",
			$(this).prop("checked")
		);
	});

	function is_valid_input(input) {
		return (!isNaN(input) || options.includes(input)) && input != '';
	}

	function delete_row(btn) {
		btn.parents('tr').fadeOut(100, function () {
			$(this).remove();
			update_table();
		})
	}

	function edit_row(btn, enable_editing) {
		row = btn.parents('tr');

		var1_div = row.find('.var1');
		var2_div = row.find('.var2');
		op_div = row.find('.op');

		row.find('.confirm-btn').toggleClass('hidden');
		row.find('.edit-btn').toggleClass('hidden');
		if (enable_editing) {
			dropdown_var = $(`
				<div class="relative group autocomplete-wrapper">
					<input class="block w-full px-3 py-1 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm term-input focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-zinc-700 dark:border-zinc-600 dark:text-zinc-300 invalid:border-pink-500 focus:ring-1 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
					<ul tabindex="0"
						class="absolute z-10 hidden py-1 mt-1 overflow-y-scroll text-base bg-white rounded-md shadow-lg autocomplete max-h-56 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm w-fit group-focus-within:block">
					</ul>
				</div>`
			);

			dropdown_op = $(`
				<select
					class="self-center px-2 py-1 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-700 dark:border-zinc-600 dark:text-zinc-300"
				>
					<option>≤</option>
					<option>≥</option>
				</select>`
			);
			let var1_clone = dropdown_var.clone()
			let var2_clone = dropdown_var.clone()
			$(var1_clone).find("input").val($(var1_div).text().trim())
			$(var2_clone).find("input").val($(var2_div).text().trim())

			var1_div.empty().append(var1_clone);
			var2_div.empty().append(var2_clone);
			op_div.empty().append(dropdown_op.clone());

		} else {
			var1_txt = var1_div.find('input').val();
			var2_txt = var2_div.find('input').val();
			op_txt = op_div.find('select').val();

			var1_div.empty().text(var1_txt);
			var2_div.empty().text(var2_txt);
			op_div.empty().text(op_txt);
			update_table()
		}
	}

	function add_row(btn, col) {
		selects = btn.parent().find('select');

		row = $(`
				<tr
					class="text-center odd:bg-gray-200/10 even:bg-gray-200 dark:even:bg-zinc-800 dark:odd:bg-zinc-800/10 dark:hover:bg-zinc-700 hover:bg-gray-300">
						<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 var1">
							<p></p>
						</td>
					</div>
						<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 op">
							<p></p>
						</td>
						<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300 var2">
							<p></p>
						</td>
						<td class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300">
							<div class="flex items-center justify-end">
								<button type="button"
									class="inline-flex items-center p-2 mr-2 text-base font-semibold text-center text-white edit-btn"
									onclick="edit_row($(this), true);">
									<ion-icon class="w-5 h-5" name="create-outline"></ion-icon>
								</button>

								<button type="button"
									class="inline-flex items-center hidden p-2 mr-2 text-base font-semibold text-center text-white confirm-btn"
									onclick="edit_row($(this), false);">
									<ion-icon class="w-5 h-5" name="checkbox-outline"></ion-icon>
								</button>

								<button type="button"
									class="inline-flex items-center p-2 mr-2 text-base font-semibold text-center text-white delete-btn"
									onclick="delete_row($(this));">
									<ion-icon class="w-5 h-5" name="close-outline"></ion-icon>
								</button>
							</div>
						</td>
					</tr>
		`);
		
		row.find('.var1 p').text($(btn).parent().find(".term-input").eq(0).val())
		row.find('.op p').text(selects.eq(0).val());
		row.find('.var2 p').text($(btn).parent().find(".term-input").eq(1).val());

		$(btn).parent().find(".term-input").eq(0).val("")
		$(btn).parent().find(".term-input").eq(1).val("")

		$('tbody[col=' + col + ']').append(row);
		update_table();
	}

	function update_table() {
		let buyrow = []
		let sellrow = []
		$('tbody[col=1]').each(function () {
			$(this).find('tr').each(function () {
				let val1 = $(this).find('td.var1').text().trim();
				let op = $(this).find('td.op').text().trim();
				let val2 = $(this).find('td.var2').text().trim();
				buyrow.push(val1 + " " + op + " " + val2);
			});
		});
		$('tbody[col=2]').each(function () {
			$(this).find('tr').each(function () {
				let val1 = $(this).find('td.var1').text().trim();
				let op = $(this).find('td.op').text().trim();
				let val2 = $(this).find('td.var2').text().trim();
				sellrow.push(val1 + " " + op + " " + val2);
			});
		});
		$.post("/rules/edit", { buy: JSON.stringify(buyrow), sell: JSON.stringify(sellrow) })
	}

	function suggestion_onlick(evt) {
		el = $(evt);
		el.parents().closest(".autocomplete-wrapper").children().closest("input").val(el.children()[0].innerHTML);
		[var1, var2] = el.parents('tr').find('input');

		var1.dispatchEvent(new Event('change', { bubbles: true }));
		var2.dispatchEvent(new Event('change', { bubbles: true }));
	}

	$(document).on('input focus', ".term-input", function (e) {
		let finalOptions = []
		for (i in options) {
			let option = options[i];
			if (option.includes(e.target.value.toUpperCase())) {
				let li = $(`
					<li tabindex="0" id="listbox-item-0" role="option" class="relative py-2 pl-3 text-gray-900 cursor-default select-none hover:cursor-pointer hover:bg-indigo-500 hover:text-white pr-9"
					onclick='suggestion_onlick(this)'
					>
						<span class="block ml-3 font-normal truncate">${option}</span>
					</li>
				`)
				finalOptions.push(li);
			}
		}
		$(this).parent().find(".autocomplete").empty()
		for (j in finalOptions) {
			$(this).parent().find(".autocomplete").append(finalOptions[j])
		}
		/* let element = $(this).parent().find(".autocomplete")[0];
		console.log(window.innerHeight - element.getBoundingClientRect().bottom < element.scrollHeight)
		if (window.innerHeight - element.getBoundingClientRect().bottom > element.scrollHeight) {
			$(this).parent().find(".autocomplete").addClass("bottom-12")
		}*/
	});

	$('table').on('input change', 'tr', function (e) {
		[var1, var2] = $(e.currentTarget).find('input');
		if (is_valid_input($(var1).val()) && is_valid_input($(var2).val())) {
			console.log($(e.currentTarget).find('.confirm-btn').prop('disabled', false));
		} else {
			console.log($(e.currentTarget).find('.confirm-btn').prop('disabled', true));
		}

		el = $(e.target);
		if (is_valid_input(el.val())) {
			el[0].setCustomValidity('');
		} else {
			el[0].setCustomValidity('Invalid input.');
		}
	});
</script>
{% endblock %}