{% extends "base.html" %} {% block title %} Stock Analytics {% endblock %} {% block header
%}
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
<script src="{{url_for('static', filename='chartjs/chartjs.js')}}"></script>
<script src="{{url_for('static', filename='chartjs/chartjs-chart-financial.js')}}"></script>
<!-- <script src="{{url_for('static', filename='chartjs/chartjs-plugin-zoom.js')}}"></script> -->
<script src="{{url_for('static', filename='chartjs/chartjs-adapter-luxon.js')}}"></script>
<script src="{{url_for('static', filename='chartjs-utils.js')}}"></script>
<style>
	select:valid {
		color: rgb(55 65 81);
	}

	.dark select:valid {
		color: rgb(212 212 216);
	}
</style>
{% endblock %} {% block content %}
<div class="flex flex-col w-screen h-screen bg-zinc-100 dark:bg-zinc-900">
	<div class="sticky top-0 px-6 pt-4 pb-4 bg-zinc-100 dark:bg-zinc-900">
		<div class="space-y-2 bg-zinc-100 dark:bg-zinc-900">
			<div class="flex justify-between">
				<div>
					<div class="flex space-x-2">
						<h2 class="text-2xl font-black uppercase dark:text-zinc-100">
							{{ stock_info['ticker'].replace("-", ".") }}
						</h2>
						<p class="self-end pb-1 dark:text-zinc-400 text-zinc-500 text-md">
							{{ stock_info['name'] }}
						</p>
					</div>
				</div>
				<form action="/stock-analytics" method="POST" class="relative">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-zinc-500">
						<ion-icon name="search-outline" class="w-5 h-5"></ion-icon>
					</div>
					<input type="hidden" name="page" value="1" />
					<input type="text" name="ticker" value="{{ticker}}"
						class="flex-1 w-full px-3 py-1 pl-10 text-base uppercase bg-white border border-transparent rounded-lg shadow-sm appearance-none text-zinc-700 placeholder-zinc-400 border-zinc-300 dark:text-zinc-300 dark:border-zinc-700 dark:bg-zinc-800 placeholder:normal-case focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
						placeholder="Search" />
				</form>
			</div>
		</div>
		<div class="flex items-center space-x-1">
			<h2 class="mr-2 text-lg font-bold dark:text-zinc-300">
				{{ "%.2f" % stock_data['last_close'] }}
			</h2>
			{% if stock_data['last_close_pct'] > 0 %}
			<p class="font-semibold dark:text-emerald-500 text-emerald-600">
				<ion-icon name="chevron-up-outline" class="align-middle"></ion-icon>
				+{{ "%.2f" %
				(stock_data['last_close']*stock_data['last_close_pct']/100) }} (+{{
				"%.2f" % stock_data['last_close_pct'] }}%)
			</p>
			{% else %}
			<p class="font-semibold dark:text-rose-500 text-rose-600">
				<ion-icon name="chevron-down-outline" class="align-middle"></ion-icon>
				{{ "%.2f" %
				(stock_data['last_close']*stock_data['last_close_pct']/100) }} ({{
				"%.2f" % stock_data['last_close_pct'] }}%)
			</p>
			{% endif %}
		</div>
	</div>
	<div class="overflow-y-scroll">
		<div class="flex flex-col">
			<div class="grid grid-cols-3 px-6 mb-4 space-x-4 h-96">
				<div class="flex-col col-span-2 p-4 bg-white rounded-md shadow h-96 dark:bg-zinc-800">
					<canvas id="cdl-chart"></canvas>
				</div>
				<div class="flex flex-col p-4 space-y-2 bg-white rounded-md shadow h-96 dark:bg-zinc-800">
					<div class="flex flex-col">
						<h2 class="text-lg font-semibold dark:text-zinc-200">Time period</h2>
						<div class="inline-flex w-full my-1 rounded-md shadow-sm" role="group">
							<button type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-gray-200 border cursor-default text-zinc-900 border-zinc-200 dark:border-zinc-600 disabled rounded-l-md dark:bg-zinc-700 dark:text-zinc-100">
								Daily
							</button>
							<bu-full onclick="update_period(90, 1);" type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-500 dark:focus:ring-indigo-500 dark:focus:text-white">
								3m
							</bu-full>
							<button onclick="update_period(180, 1);" type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-indigo-500 dark:focus:text-white">
								6m
							</button>
							<button onclick="update_period(360, 1);" type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 rounded-r-md hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-indigo-500 dark:focus:text-white">
								1y
							</button>
						</div>
						<div class="inline-flex w-full my-1 rounded-md shadow-sm" role="group">
							<button type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-gray-200 border cursor-default text-zinc-900 border-zinc-200 dark:border-zinc-600 disabled rounded-l-md dark:bg-zinc-700 dark:text-zinc-100">
								Weekly
							</button>
							<button onclick="update_period(360, 7);" type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-indigo-500 dark:focus:text-white">
								1y
							</button>
							<button onclick="update_period(360*3, 7);" type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-indigo-500 dark:focus:text-white">
								3y
							</button>
							<button onclick="update_period(360*5, 7);" type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 rounded-r-md hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-indigo-500 dark:focus:text-white">
								5y
							</button>
						</div>
						<div class="inline-flex w-full my-1 rounded-md shadow-sm" role="group">
							<button type="button"
								class="w-1/4 px-4 py-2 text-sm font-medium text-center bg-gray-200 border cursor-default text-zinc-900 border-zinc-200 dark:border-zinc-600 disabled rounded-l-md dark:bg-zinc-700 dark:text-zinc-100">
								Monthly
							</button>
							<button onclick="update_period(360*5, 30);" type="button"
								class="w-1/2 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-indigo-500 dark:focus:text-white">
								5y
							</button>
							<button onclick="update_period(360*10, 30);" type="button"
								class="w-1/2 px-4 py-2 text-sm font-medium text-center bg-white border-t border-b border-r text-zinc-900 border-zinc-200 dark:text-zinc-300 rounded-r-md hover:bg-zinc-100 hover:text-indigo-700 focus:z-10 focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700 dark:bg-zinc-800 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-600 dark:focus:ring-indigo-500 dark:focus:text-white">
								10y
							</button>
						</div>
					</div>
					<div>
						<h2 class="text-lg font-semibold dark:text-zinc-200">Chart layers</h2>
						<div class="grid grid-cols-2">
							<div>
								<input type="checkbox" onchange="toggle_layer('MA10',this.checked)" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" checked />
								<span class="font-normal text-gray-700 dark:text-white">MA10</span>
							</div>
							<div>
								<input type="checkbox" onchange="toggle_layer('MA20',this.checked)" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" checked />
								<span class="font-normal text-gray-700 dark:text-white">MA20</span>
							</div>
							<div>
								<input type="checkbox" onchange="toggle_layer('MA50',this.checked)" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" checked />
								<span class="font-normal text-gray-700 dark:text-white">MA50</span>
							</div>
							<div>
								<input type="checkbox" onchange="toggle_layer('MA100',this.checked)" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" checked />
								<span class="font-normal text-gray-700 dark:text-white">MA100</span>
							</div>
							<div>
								<input type="checkbox" onchange="toggle_layer('MA250',this.checked)" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" checked />
								<span class="font-normal text-gray-700 dark:text-white">MA250</span>
							</div>
							<div>
								<input type="checkbox" onchange="toggle_layer('Volume',this.checked)" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" checked />
								<span class="font-normal text-gray-700 dark:text-white">Volume</span>
							</div>
							<div>
								<input type="checkbox" onchange="toggle_layer('Bollinger Bands Middle',this.checked); toggle_layer('Bollinger Bands Lower',this.checked); toggle_layer('Bollinger Bands Upper',this.checked);" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" />
								<span class="font-normal text-gray-700 dark:text-white">Bollinger Bands</span>
							</div>
						</div>
					</div>
					<div>
						<h2 class="text-lg font-semibold dark:text-zinc-200">Toggle charts</h2>
						<div class="grid grid-cols-2">
							<div>
								<input type="checkbox" name="checked-demo" class="w-3.5 h-3.5 bg-white border border-gray-300 rounded appearance-none bg-check checked:bg-blue-500 checked:border-transparent focus:outline-none" />
								<span class="font-normal text-gray-700 dark:text-white">RSI</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid grid-cols-3 px-6 mb-4 space-x-4">
				<div class="col-span-2 p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="h-48">
						<canvas id="rsi-chart"></canvas>
					</div>
					<div class="h-48">
						<canvas id="macd-chart"></canvas>
					</div>
					<div class="h-48">
						<canvas id="volume-chart"></canvas>
					</div>
					<div class="h-48">
						<canvas id="obv-chart"></canvas>
					</div>
					<div class="h-48">
						<canvas id="stoch-chart"></canvas>
					</div>
				</div>
				<div class="flex flex-col p-4 bg-white rounded-md shadow dark:bg-zinc-800">
					<div class="h-1/2"><canvas id="strength-index-chart"></canvas></div>
					<table>
						<thead>
							<tr class="top-0 bg-white dark:bg-zinc-800">
								<th
									class="font-bold text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Rule</th>
								<th
									class="font-bold text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
									Hit/Miss</th>
							</tr>
						</thead>
						<tbody>
							{% if rules["buy_pct"] > rules["sell_pct"] %}
							{% for rule in rules['hit_buy_rules']%}
							<tr class="bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100">
								<td class="w-6 px-2 py-2 text-center border-b dark:border-zinc-700 dark:text-zinc-300">{{rule}}</td>
								<td class="w-6 px-2 py-2 font-semibold text-center border-b dark:border-zinc-700 text-emerald-500">Hit
								</td>
							</tr>
							{% endfor %}
							{% for rule in rules['miss_buy_rules']%}
							<tr class="bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100">
								<td class="w-6 px-2 py-2 text-center border-b dark:border-zinc-700 dark:text-zinc-300">{{rule}}</td>
								<td class="w-6 px-2 py-2 font-semibold text-center border-b dark:border-zinc-700 text-rose-500">Miss
								</td>
							</tr>
							{% endfor %}
							{% elif rules["buy_pct"] < rules["sell_pct"] %} {% for rule in rules['hit_sell_rules']%} <tr
								class="bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100">
								<td class="w-6 px-2 py-2 text-center border-b dark:border-zinc-700 dark:text-zinc-300">{{rule}}</td>
								<td class="w-6 px-2 py-2 font-semibold text-center border-b dark:border-zinc-700 text-emerald-500">Hit
								</td>
								</tr>
								{% endfor %}
								{% for rule in rules['miss_sell_rules']%}
								<tr class="bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100">
									<td class="w-6 px-2 py-2 text-center border-b dark:border-zinc-700 dark:text-zinc-300">{{rule}}</td>
									<td class="w-6 px-2 py-2 font-semibold text-center border-b dark:border-zinc-700 text-rose-500">Miss
									</td>
								</tr>
								{% endfor %}
								{% endif %}
						</tbody>
					</table>
					<form class="mt-2 text-center cursor-pointer" action="{{ url_for('rules') }}" method="POST">
						<input type="hidden" name="ticker" value="{{ stock_info['ticker'].replace('.', '-') }}" />
						<a class="text-blue-500" onclick="this.parentNode.submit()">Show more</a>
					</form>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-3 px-6 mb-4 space-x-4 h-96">
			<div class="flex flex-col p-4 bg-white rounded-md shadow dark:bg-zinc-800">
				<div class="flex flex-col justify-between space-y-2">
					<h2 class="text-2xl font-semibold dark:text-zinc-200">
						Stock Comparison
					</h2>
					<form
						onsubmit="draw_stock_cmp(stock_data, document.getElementById('ticker-cmp-txtbox').value); return false;">
						<input type="text" id="ticker-cmp-txtbox"
							class="h-full px-2 py-1 text-sm uppercase rounded-md bg-zinc-200 dark:bg-zinc-900 dark:text-zinc-300 placeholder:normal-case placeholder:text-zinc-400 dark:placeholder:text-zinc-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
							placeholder="Ticker..." autocomplete="off" />
					</form>
				</div>
				<div class="grow">
					<canvas id="stock-comparison-chart" class="comparison-chart"></canvas>
				</div>
			</div>
			<div class="flex flex-col p-4 bg-white rounded-md shadow dark:bg-zinc-800">
				<div class="flex flex-col justify-between space-y-2">
					<h2 class="text-2xl font-semibold dark:text-zinc-200">
						Industry Comparison
					</h2>
					<select required id="industry-cmp-txtbox"
						class="h-full px-2 py-1 text-sm rounded-md text-zinc-400 bg-zinc-200 dark:text-zinc-500 dark:bg-zinc-900 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
						onchange="draw_industry_cmp(stock_data, document.getElementById('industry-cmp-txtbox').value)">
						<option value="">Select an industry...</option>
						{% for industry in industries %} {% if industry != None %}
						<option value="{{industry}}">{{industry}}</option>
						{% endif %} {% endfor %}
					</select>
				</div>
				<div class="grow">
					<canvas id="industry-comparison-chart" class="comparison-chart"></canvas>
				</div>
			</div>
			<div class="flex flex-col p-4 bg-white rounded-md shadow dark:bg-zinc-800">
				<div class="flex flex-col justify-between space-y-2">
					<h2 class="text-2xl font-semibold dark:text-zinc-200">
						Index Comparison
					</h2>
					<select required id="index-cmp-txtbox"
						class="h-full px-2 py-1 text-sm rounded-md text-zinc-400 bg-zinc-200 dark:text-zinc-500 dark:bg-zinc-900 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
						onchange="draw_index_cmp(stock_data, document.getElementById('index-cmp-txtbox').value)">
						<option value="">Select an index...</option>
						{% for index in indexes %} {% if index != None %}
						<option value="{{index}}">{{index}}</option>
						{% endif %} {% endfor %}
					</select>
				</div>
				<div class="grow">
					<canvas id="index-comparison-chart" class="comparison-chart"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block script%} {% if stock_data %}
<script>
	// prevent period updating when it is the same
	var current_period = 180;
	var current_interval = 1;
	var chart_padding = 55;

	// update cmp charts accordingly when period updates
	var current_cmp_ticker = '0001-HK'
	var current_cmp_industry = 'Banks'
	var current_cmp_index = '^HSI'

	// init chart + ctx
	var stock_cmp_chart = undefined;
	var industry_cmp_chart = undefined;
	var index_cmp_chart = undefined;
	var cdl_chart = undefined;
	var rsi_chart = undefined;
	var macd_chart = undefined;
	var vol_chart = undefined;
	var si_chart = undefined;
	var obv_chart = undefined;
	var stoch_chart = undefined;

	const stock_cmp_ctx = document.getElementById('stock-comparison-chart').getContext('2d');
	const industry_cmp_ctx = document.getElementById('industry-comparison-chart').getContext('2d');
	const index_cmp_ctx = document.getElementById('index-comparison-chart').getContext('2d');
	const cdl_ctx = document.getElementById('cdl-chart').getContext('2d');
	const rsi_ctx = document.getElementById('rsi-chart').getContext('2d');
	const macd_ctx = document.getElementById('macd-chart').getContext('2d');
	const vol_ctx = document.getElementById('volume-chart').getContext('2d');
	const si_ctx = document.getElementById('strength-index-chart').getContext('2d');
	const obv_ctx = document.getElementById('obv-chart').getContext('2d');
	const stoch_ctx = document.getElementById('stoch-chart').getContext('2d');

	async function draw_stock_cmp(data, other_ticker) {
		period = data.period;
		interval = data.interval;
		current_cmp_ticker = other_ticker;

		let data2 = undefined;

		await $.get('/api/get_stock_close_pct', {
			ticker: other_ticker.toUpperCase(),
			period: period,
			interval: interval
		}, function (res) {
			data2 = JSON.parse(res);
		});


		chart_data = {
			datasets: [{
				label: data.ticker.replace("-", "."),
				data: data.accum_close_pct,
				borderColor: 'rgb(234, 63, 51)',
				...line_chart_settings
			}, {
				label: data2.ticker.replace("-", "."),
				data: data2.accum_close_pct,
				borderColor: 'rgba(102, 126, 234)',
				...line_chart_settings
			}]
		};

		options = {
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					display: true,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (stock_cmp_chart) {
			stock_cmp_chart.destroy();
		}

		stock_cmp_chart = new Chart(stock_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	async function draw_industry_cmp(data, industry) {
		period = data.period;
		interval = data.interval;
		current_cmp_industry = industry;

		let data2 = undefined;

		await $.get('/api/get_industry_close_pct', {
			industry: industry,
			period: period,
			interval: interval
		}, function (res) {
			data2 = JSON.parse(res);
		});

		chart_data = {
			datasets: [{
				label: data.ticker.replace("-", "."),
				data: data.accum_close_pct,
				borderColor: 'rgb(234, 63, 51)',
				...line_chart_settings
			}, {
				label: data2.industry,
				data: data2.accum_close_pct,
				borderColor: 'rgba(102, 126, 234)',
				...line_chart_settings
			}]
		}

		options = {
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					display: true,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				},
			},
			...misc_options
		}

		if (industry_cmp_chart) {
			industry_cmp_chart.destroy();
		}

		industry_cmp_chart = new Chart(industry_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	async function draw_index_cmp(data, index) {
		period = data.period;
		interval = data.interval;
		current_cmp_index = index;

		let data2 = undefined;

		await $.get('/api/get_stock_close_pct', {
			ticker: index,
			period: period,
			interval: interval
		}, function (res) {
			data2 = JSON.parse(res);
		});

		chart_data = {
			datasets: [{
				label: data.ticker.replace("-", "."),
				data: data.accum_close_pct,
				borderColor: 'rgb(234, 63, 51)',
				...line_chart_settings
			}, {
				label: data2.ticker,
				data: data2.accum_close_pct,
				borderColor: 'rgba(102, 126, 234)',
				...line_chart_settings
			}]
		};

		options = {
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					display: true,
					title: {
						display: false,
						text: '% change'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (Math.round(val * 100) + '%')
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (index_cmp_chart) {
			index_cmp_chart.destroy();
		}

		index_cmp_chart = new Chart(index_cmp_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	function draw_cdl(data) {
		chart_data = {
			datasets: [{
				label: 'Candlestick',
				type: 'candlestick',
				data: data.cdl,
				yAxisID: 'y'
			}, {
				label: 'MA10',
				data: data.sma10,
				borderColor: 'rgb(212, 77, 69)',
				...line_chart_settings
			}, {
				label: 'MA20',
				data: data.sma20,
				borderColor: 'rgb(182, 93, 2)',
				...line_chart_settings
			}, {
				label: 'MA50',
				data: data.sma50,
				borderColor: 'rgb(214, 140, 0)',
				...line_chart_settings
			}, {
				label: 'MA100',
				data: data.sma100,
				borderColor: 'rgb(195, 177, 30)',
				...line_chart_settings
			}, {
				label: 'MA250',
				data: data.sma250,
				borderColor: 'rgb(140, 187, 59)',
				...line_chart_settings
			}, {
				label: 'Volume',
				type: 'bar',
				data: data.volume,
				backgroundColor: data.vol_color,
				yAxisID: 'y1'
			},
			{
				label: 'Bollinger Bands Middle',
				hidden: true,
				type: 'line',
				data: data.bbands_middle,
				borderColor: 'rgb(14 165 233)',
				...line_chart_settings
			},
			{
				label: 'Bollinger Bands Upper',
				hidden: true,
				type: 'line',
				data: data.bbands_upper,
				borderColor: 'rgb(14 165 233)',
				fill: false,
				...line_chart_settings
			},
			{
				...line_chart_settings,
				hidden: true,
				label: 'Bollinger Bands Lower',
				type: 'line',
				data: data.bbands_lower,
				borderColor: 'rgb(14 165 233)',
				backgroundColor: "rgba(56, 189, 248, 0.1)",
				fill: "-1",
			}
			]
		}

		options = {
			...misc_options,
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					afterFit: (axis) => { axis.paddingLeft = chart_padding },
					display: true,
					title: {
						display: false,
						text: 'Dollars (HKD)'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
					},
					...y_scale_settings
				},
				y1: {
					display: false,
					title: {
						display: false,
						text: 'Volume (HKD)'
					},
					position: 'right',
					min: 0,
					max: data.max_vol.toPrecision(2) * 4,
					grid: {
						drawOnChartArea: false
					}
				}
			},
			plugins: {
				filler: {
					propagate: false
				},
				legend: {
					labels: {
						filter: function (item, chart) {
							if (["Bollinger Bands Upper", "Bollinger Bands Lower", "Bollinger Bands Middle"].indexOf(item.text) > -1) return false;
							return true;
						}
					}
				}
			},
		}

		if (cdl_chart) {
			cdl_chart.destroy();
		}

		cdl_chart = new Chart(cdl_ctx, {
			type: 'candlestick',
			data: chart_data,
			options: options
		});
	}

	function draw_rsi(data) {
		chart_data = {
			datasets: [{
				label: 'RSI',
				data: data.rsi,
				borderColor: 'rgb(16, 183, 89)',
				...line_chart_settings
			}, {
				label: '',
				data: [
					{ 'x': data.start_date, 'y': 30 },
					{ 'x': data.end_date, 'y': 30 }
				],
				borderColor: 'rgba(112, 110, 122, 0.4)',
				...line_chart_settings
			}, {
				label: '',
				data: [
					{ 'x': data.start_date, 'y': 70 },
					{ 'x': data.end_date, 'y': 70 }
				],
				borderColor: 'rgba(112, 110, 122, 0.4)',
				...line_chart_settings
			}]
		};

		options = {
			scales: {
				x: {
					display: false,
					...x_scale_settings
				},
				y: {
					afterFit: (axis) => { axis.paddingLeft = chart_padding },
					display: true,
					title: {
						display: false,
						text: 'RSI'
					},
					min: 0,
					max: 100,
					ticks: {
						stepSize: 50
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (rsi_chart) {
			rsi_chart.destroy();
		}

		rsi_chart = new Chart(rsi_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	function draw_macd(data) {
		chart_data = {
			datasets: [{
				label: 'MACD',
				data: data.macd,
				borderColor: 'rgb(16, 183, 89)',
				...line_chart_settings
			}, {
				label: 'EMA',
				data: data.macd_ema,
				borderColor: 'rgb(226, 70, 72)',
				...line_chart_settings
			}, {
				label: 'Divergence',
				type: 'bar',
				backgroundColor: 'rgba(112, 110, 122, 0.4)',
				data: data.macd_div
			}]
		}

		options = {
			scales: {
				x: {
					display: false,
					...x_scale_settings
				},
				y: {
					afterFit: (axis) => { axis.paddingLeft = chart_padding },
					display: true,
					title: {
						display: false,
						text: 'Dollars (HKD)'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (macd_chart) {
			macd_chart.destroy();
		}

		macd_chart = new Chart(macd_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	function draw_vol(data) {
		chart_data = {
			datasets: [{
				label: 'Volume',
				type: 'bar',
				backgroundColor: data.vol_color,
				data: data.volume,
			}, {
				label: 'MA20',
				data: data.vol_sma20,
				borderColor: 'rgb(195, 177, 30)',
				...line_chart_settings
			}]
		}
		options = {
			scales: {
				x: {
					display: false,
					...x_scale_settings
				},
				y: {
					afterFit: (axis) => { axis.paddingLeft = chart_padding },
					display: true,
					title: {
						display: false,
						text: 'Dollars (HKD)'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => (add_suffix(val))
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (vol_chart) {
			vol_chart.destroy();
		}

		vol_chart = new Chart(vol_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	function draw_si(type, pct) {

		if (type == 'buy') {
			mainColor = "rgb(16 185 129)";
			backgroundColor = [mainColor, dark ? "rgb(34 34 39)" : "rgb(229 231 235)"];
		} else if (type == 'sell') {
			mainColor = "rgb(244 63 94)";
			backgroundColor = [mainColor, dark ? "rgb(34 34 39)" : "rgb(229 231 235)"];
		} else if (type == 'neutral') {
			mainColor = "rgb(130 130 130)";
			backgroundColor = [mainColor, dark ? "rgb(34 34 39)" : "rgb(229 231 235)"];
		}

		chart_data = {
			labels: [],
			datasets: [
				{
					data: [pct, 100 - pct],
					backgroundColor: backgroundColor,
					borderWidth: 0,
				},
			],
		};

		options = {
			plugins: {
				crosshair: false,
				cursorpos: false,
			},
			events: [],
			...misc_options,
		};

		if (si_chart) {
			si_chart.destroy();
		}

		si_chart = new Chart(si_ctx, {
			type: "doughnut",
			data: chart_data,
			options: options,
			plugins: [
				{
					id: "doughnut_text",
					beforeDraw: function (chart, a, b) {
						var width = chart.width,
							height = chart.height,
							ctx = chart.ctx;

						ctx.restore();
						var fontSize = (height / 150).toFixed(2);
						ctx.font = "bolder " + fontSize + "em sans-serif";
						ctx.textBaseline = "middle";
						ctx.fillStyle = dark ? "rgb(244 244 245)" : "rgb(31 41 55)";

						var index = Math.round(pct) + "%",
							indexX = Math.round((width - ctx.measureText(index).width) / 2),
							indexY = height / 2.1;

						ctx.fillText(index, indexX, indexY);

						fontSize = (height / 270).toFixed(2);
						ctx.font = "bold " + fontSize + "em sans-serif";
						ctx.fillStyle = mainColor;

						var action = type.toUpperCase(),
							actionX = Math.round((width - ctx.measureText(action).width) / 2),
							actionY = height / 1.7;

						ctx.fillText(action, actionX, actionY);

						fontSize = (height / 200).toFixed(2);
						ctx.font = fontSize + "em sans-serif";
						ctx.fillStyle = "rgb(212 212 216)";

						ctx.save();
					},
				},
			],
		});
	}

	function draw_obv(data) {
		chart_data = {
			datasets: [{
				label: 'OBV',
				data: data.obv,
				borderColor: 'rgb(245 158 11)',
				...line_chart_settings
			}]
		}

		options = {
			scales: {
				x: {
					display: false,
					...x_scale_settings
				},
				y: {
					afterFit: (axis) => { axis.paddingLeft = chart_padding },
					display: true,
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20,
						callback: (val) => {
							if (val < 0) return '-' + add_suffix(val * -1)
							return add_suffix(val)
						}
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (obv_chart) {
			obv_chart.destroy();
		}

		obv_chart = new Chart(obv_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});

	}

	function draw_slow_stoch(data) {
		chart_data = {
			datasets: [{
				label: 'Slow %K',
				data: data.stoch_slowk,
				borderColor: 'rgb(6 182 212)',
				...line_chart_settings
			},
			{
				label: 'Slow %D',
				data: data.stoch_slowd,
				borderColor: 'rgb(244 63 94)',
				...line_chart_settings
			},
			{
				label: '',
				data: [
					{ 'x': data.start_date, 'y': 30 },
					{ 'x': data.end_date, 'y': 30 }
				],
				borderColor: 'rgba(112, 110, 122, 0.4)',
				...line_chart_settings
			}, {
				label: '',
				data: [
					{ 'x': data.start_date, 'y': 70 },
					{ 'x': data.end_date, 'y': 70 }
				],
				borderColor: 'rgba(112, 110, 122, 0.4)',
				...line_chart_settings
			}]
		}

		options = {
			scales: {
				x: {
					display: false,
					...x_scale_settings
				},
				y: {
					afterFit: (axis) => { axis.paddingLeft = chart_padding },
					display: true,
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (stoch_chart) {
			stoch_chart.destroy();
		}

		stoch_chart = new Chart(stoch_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});

	}

	function draw_fast_stoch(data) {
		chart_data = {
			datasets: [{
				label: 'Fast %K',
				data: data.stoch_fastk,
				borderColor: 'rgb(6 182 212)',
				...line_chart_settings
			},
			{
				label: 'Fast %D',
				data: data.stoch_fastd,
				borderColor: 'rgb(244 63 94)',
				...line_chart_settings
			},
			{
				label: '',
				data: [
					{ 'x': data.start_date, 'y': 30 },
					{ 'x': data.end_date, 'y': 30 }
				],
				borderColor: 'rgba(112, 110, 122, 0.4)',
				...line_chart_settings
			}, {
				label: '',
				data: [
					{ 'x': data.start_date, 'y': 70 },
					{ 'x': data.end_date, 'y': 70 }
				],
				borderColor: 'rgba(112, 110, 122, 0.4)',
				...line_chart_settings
			}]
		}

		options = {
			scales: {
				x: {
					display: true,
					...x_scale_settings
				},
				y: {
					afterFit: (axis) => { axis.paddingLeft = chart_padding },
					display: true,
					ticks: {
						autoSkip: true,
						autoSkipPadding: 20
					},
					...y_scale_settings
				}
			},
			...misc_options
		};

		if (stoch_chart) {
			stoch_chart.destroy();
		}

		stoch_chart = new Chart(stoch_ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});

	}

	var stock_data = {{ stock_data | tojson }};
	var rules = {{ rules | tojson }}

	function toggle_layer(layer, visible) {
		cdl_chart.data.datasets.filter(filter_dataset => filter_dataset.label == layer)[0].hidden = !visible;
		cdl_chart.update();
	}

	function draw_charts(stock_data) {
		console.log(stock_data);
		console.log(rules);

		draw_cdl(stock_data);
		draw_rsi(stock_data);
		draw_macd(stock_data);
		draw_vol(stock_data);
		draw_obv(stock_data);
		draw_fast_stoch(stock_data);

		draw_stock_cmp(stock_data, current_cmp_ticker);
		draw_industry_cmp(stock_data, current_cmp_industry);
		draw_index_cmp(stock_data, current_cmp_index);
	}

	if (rules["buy_pct"] > rules["sell_pct"]) {
		draw_si('buy', rules["buy_pct"] * 100);
	} else if (rules["buy_pct"] < rules["sell_pct"]) {
		draw_si('sell', rules["sell_pct"] * 100);
	} else { // equal
		draw_si('neutral', rules["buy_pct"] * 100);
	}

	async function update_period(period, interval) {
		if (period == current_period && interval == current_interval) {
			return;
		}
		current_period = period;
		current_interval = interval;

		ticker = "{{ stock_info['ticker'] }}";
		await $.get('/api/get_stock_data', {
			ticker: ticker,
			period: period,
			interval: interval
		}, function (res) {
			stock_data = JSON.parse(res);
			draw_charts(stock_data);
		}).catch(error => console.log(error));
	}

	draw_charts(stock_data);

	$('document').ready(function () {
		$("#theme-toggle").bind('click', function () {
			if (rules["buy_pct"] > rules["sell_pct"]) {
				draw_si('buy', rules["buy_pct"] * 100);
			} else if (rules["buy_pct"] < rules["sell_pct"]) {
				draw_si('sell', rules["sell_pct"] * 100);
			} else { // equal
				draw_si('neutral', rules["buy_pct"] * 100);
			}
		});
	});
</script>
{% endif %} {% endblock %}