{% extends "base.html" %} {% block title %} Home {% endblock %} {% block header
%}
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
<script src="{{url_for('static', filename='chartjs/chartjs.js')}}"></script>
<script src="{{url_for('static', filename='chartjs/chartjs-adapter-luxon.js')}}"></script>
<script src="{{url_for('static', filename='chartjs/chartjs-chart-financial.js')}}"></script>
{% endblock %}
{% block content
%}
<div class="flex flex-col w-screen h-screen px-6 py-4 bg-gray-100 dark:bg-zinc-900">
	<div class="mb-2">
		<div class="space-y-2 bg-gray-100 dark:bg-zinc-900">
			<div class="flex justify-between">
				<div>
					<div class="flex space-x-2">
						<h2 class="text-2xl font-black uppercase dark:text-zinc-100">
							{{ stock_info['ticker'].replace("-", ".") }}
						</h2>
						<p class="self-end pb-1 dark:text-zinc-400 text-zinc-500 text-md">
							{{ stock_info['name'] }}
						</p>
					</div>
				</div>
				<form action="/stock-info" method="POST" class="relative">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500 pointer-events-none">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
							<path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none"
								stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
							<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
								d="M338.29 338.29L448 448" />
						</svg>
					</div>
					<input type="hidden" name="page" value="1" />
					<input type="text" name="ticker" value="{{ticker}}"
						class="flex-1 w-full px-3 py-1 pl-10 text-base text-gray-700 placeholder-gray-400 uppercase bg-white border border-transparent border-gray-300 rounded-lg shadow-sm appearance-none dark:text-zinc-300 dark:border-zinc-700 dark:bg-zinc-800 placeholder:normal-case focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-gray-100/50 focus:border-transparent"
						placeholder="Search" />
				</form>
			</div>
		</div>
		<div class="flex items-center space-x-1">
			<h2 class="mr-2 text-lg font-bold dark:text-zinc-300">
				{{ "%.2f" % stock_data['last_close'] }}
			</h2>
			{% if stock_data['last_close_pct'] > 0 %}
			<p class="font-semibold dark:text-emerald-500 text-emerald-600">
				<ion-icon name="chevron-up-outline" class="align-middle"></ion-icon>
				+{{ "%.2f" % (stock_data['last_close']*stock_data['last_close_pct']/100) }} (+{{ "%.2f" % stock_data['last_close_pct'] }}%)
			</p>
			{% else %}
			<p class="font-semibold dark:text-rose-500 text-rose-600">
				<ion-icon name="chevron-down-outline" class="align-middle"></ion-icon>
				{{ "%.2f" % (stock_data['last_close']*stock_data['last_close_pct']/100) }} ({{ "%.2f" % stock_data['last_close_pct'] }}%)
			</p>
			{% endif %}
		</div>
	</div>
	<div class="grid h-full grid-cols-2 gap-4 overflow-y-scroll">
		<div class="flex flex-col col-span-1 space-y-4">
			<div class="grid grid-cols-3 grid-rows-2 gap-6 p-6 bg-white rounded-md shadow dark:bg-zinc-800">
				<!-- {% for i in range(6) %}
				<div class="flex flex-col">
					<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Market Cap</h3>
					<h2 class="text-3xl font-semibold dark:text-zinc-300">378.90B</h2>
				</div>
				{% endfor %} -->
				<div class="flex flex-col">
					<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Sector</h3>
					<h2 class="text-2xl font-semibold dark:text-zinc-300">{{ stock_info["sector"] }}</h2>
				</div>
				<div class="flex flex-col">
					<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Industry</h3>
					<h2 class="text-2xl font-semibold dark:text-zinc-300">{{ stock_info["industry"] }}</h2>
				</div>
				<div class="flex flex-col">
					<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Country</h3>
					<h2 class="text-2xl font-semibold dark:text-zinc-300">{{ stock_info["country"] }}</h2>
				</div>
				<div class="flex flex-col">
					<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Currency</h3>
					<h2 class="text-2xl font-semibold dark:text-zinc-300">{{ stock_info["financial_currency"] }}</h2>
				</div>
				<div class="flex flex-col">
					<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Cash Per Share</h3>
					<h2 class="text-2xl font-semibold dark:text-zinc-300">{{ stock_info["total_cash_per_share"] }}</h2>
				</div>
				<div class="flex flex-col">
					<h3 class="text-lg font-light text-gray-500 dark:text-zinc-500">Quote Type</h3>
					<h2 class="text-2xl font-semibold dark:text-zinc-300">{{ stock_info["quote_type"] }}</h2>
				</div>
			</div>
			<div class="p-6 bg-white rounded-md shadow grow grow-1 dark:bg-zinc-800">
				<div class="flex items-center space-x-1">
					<ion-icon name="newspaper-outline" class="w-5 h-5 text-zinc-500"></ion-icon>
					<h2 class="text-2xl font-semibold text-gray-700 dark:text-zinc-200">
						News
					</h2>
				</div>
				<table class="w-full text-gray-800 dark:text-zinc-100">
					<thead>
						<tr>
							<th class="px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">Time</th>
							<th class="px-2 py-2 text-left text-gray-700 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">Title</th>
						</tr>
					</thead>
					<tbody>
						{% for row in news %}
						<tr class="text-gray-600 bg-white dark:bg-zinc-800 dark:hover:bg-zinc-700 hover:bg-gray-100 dark:text-zinc-300 hover:text-gray-800">
							<td class="px-2 py-2 text-left border-b dark:border-zinc-700">{{row["time"]}}</td>
							<td class="px-2 py-2 text-left border-b dark:border-zinc-700"><a class="underline hover:text-blue-400 dark:hover:text-blue-500" href="{{row['link']}}">{{row["title"]}}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="flex flex-col col-span-1 p-4 bg-white rounded-md shadow dark:bg-zinc-800 dark:text-zinc-300 text-sm">
			<div class="grow"><canvas id="chart"></canvas></div>
			<div class="grid grid-flow-row grid-cols-{{(10//-4)*-1}} gap-x-8">
				{% for k, v in stats.items()  %}
				<div class="flex justify-between py-2 border-b dark:border-zinc-600">
					<p class="font-semibold">{{k|convert_colname}}</p>
					<p>
					{% if k == "ex_dividend_date"%}
						{{v}}
					{% elif k == "volume" or k == "obv" %}
						{{v|int|suffix}}
					{% else %}
						{{"%.2f" % v}}
					{% endif %}
					</p>
				</div>
				{% endfor %}
			</div>
			<div class="flex justify-center">
				<form action="/stock-analytics" method="POST">
					<input type="hidden" name="ticker" value="{{ stock_info['ticker'].replace('.', '-') }}" />
					<a class="text-blue-600 cursor-pointer dark:text-blue-500 dark:hover:text-blue-400 hover:text-blue-500" onclick="this.parentNode.submit()">Show more</a>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	const line_chart_settings = {
		type: 'line',
		yAxisID: 'y',
		borderWidth: 2,
		tension: 0.3,
		pointRadius: 0,
	}

	const crosshair_plugin = {
		id: 'crosshair',
		afterInit: (chart) => {
			chart.crosshair = {
				x: 0,
				y: 0
			}
		},
		afterEvent: (chart, evt) => {
			const {chartArea: {top, bottom, left, right}} = chart;
			const {event: {x, y}} = evt;
			if (x < left || x > right || y < top || y > bottom) {
				chart.crosshair = {x, y, draw: false}
				chart.draw();
				return;
			}

			chart.crosshair = {x, y, draw: true}
			chart.draw();
		},
		afterDatasetsDraw: (chart, _, opts) => {
			if (!chart.crosshair) {
				return;
			}

			const {ctx, chartArea: {top, bottom, left, right}} = chart;
			const {x, y, draw} = chart.crosshair;

			if (!draw) {
				return;
			}

			ctx.lineWidth = opts.width || 2;
			ctx.setLineDash(opts.dash || [3, 3]);
			ctx.strokeStyle = opts.color || 'rgba(112, 110, 122, 0.6)'

			ctx.save();
			ctx.beginPath();
			ctx.moveTo(x, bottom);
			ctx.lineTo(x, top);
			ctx.moveTo(left, y);
			ctx.lineTo(right, y);
			ctx.stroke();
			ctx.restore();

			// reset line dash
			ctx.setLineDash([]);
		}
	}

	// enable plugins globally
	Chart.register(crosshair_plugin)

	var chart = undefined;
	const ctx = document.getElementById('chart').getContext('2d');

	gradient = ctx.createLinearGradient(0, 0, 0, 300);
	gradient.addColorStop(0, 'rgba(102, 126, 234, 0.6)');
	gradient.addColorStop(1, 'rgba(102, 126, 234, 0.1)');

	function draw_chart(data) {
		console.log(data);
		chart_data = {
			labels: data.lbl,
			datasets: [{
				label: data.ticker.replace("-", "."),
				data: data.close,
				borderColor: 'rgb(102, 126, 234)',
				backgroundColor: gradient,
				fill: true,
				...line_chart_settings
			}]
		}

		options = {
			legend: {
				onClick: function (e) {
					e.stopPropagation();
				}
			},
			scales: {
				x: {
					display: true,
					title: {
						display: false,
						text: 'Date'
					},
					type: 'timeseries',
					time: {
						unit: 'month',
						tooltipFormat: 'DD'
					},
					ticks: {
						autoSkip: true,
						autoSkipPadding: 80,
						maxRotation: 0,
						minRotation: 0
					},
					grid: {
						display: false
					}
				},
				y: {
					display: true,
					title: {
						display: false,
						text: 'Dollars (HKD)'
					},
					grid: {
						display: false
					}
				}
			},
			interaction: {
				mode: 'index',
				intersect: false
			},
			plugins: {
				title: {
					display: false
				},
				legend: {
					display: false
				},
			},
			responsive: true,
			maintainAspectRatio: false,
		}

		if (chart) {
			chart.destroy();
		}

		chart = new Chart(ctx, {
			type: 'line',
			data: chart_data,
			options: options
		});
	}

	draw_chart({{ stock_data | tojson }})
</script>
{% endblock %}
