{% extends "base.html" %} {% block title %} Stock List {% endblock %} {% block header
%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock%} {% block content %}
<div class="flex flex-col w-screen h-screen px-6 py-4 overflow-hidden bg-gray-100 dark:bg-zinc-900">
	<h1 class="text-2xl font-black text-gray-900 dark:text-zinc-100">Stock List</h1>
	<div class="flex space-x-2">
		<h2 class="text-gray-600 dark:text-zinc-300">Last Update: {{ last_updated }}</h2>
		<form onsubmit="update_stock_info(); return false"><button type="submit"
			class="px-2 py-1 text-xs font-semibold text-center text-white transition duration-200 ease-in bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2">Update</button>
		</form>
	</div>
	<div class="flex mb-2 ml-auto space-x-4 industry-filter">
		<form onsubmit="redrawTable(this); return false;" class="flex items-center space-x-2">
			<p class="text-gray-800 dark:text-zinc-200">Minimum Market Cap:</p>
			<input id="minmax-range" name="min_mkt_cap" type="range" min="6" max="12" value="{{min_mkt_cap}}"
				class="h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
				onchange="edit_mkt_cap(this)" />
		</form>
		<form>
			<select id="industry-filter"
				class="block px-2 py-1 text-sm text-gray-700 bg-gray-200 rounded-md placeholder:normal-case dark:text-zinc-300 dark:bg-zinc-800 placeholder:text-gray-400 dark:placeholder:text-zinc-500"
				name="filter_industry" onchange="redrawTable(this.form); return false;">
				<option value="" {% if filter_industry=="" %} selected {% endif %}>All industries</option>
				{% for industry in industries %}
				<option value="{{industry}}" {% if filter_industry==industry %} selected {% endif %}>{{industry}}</option>
				{% endfor %}
			</select>
		</form>
	</div>
	<div class="overflow-y-scroll grow rounded-xl" id="table-wrapper">
		<table id="table" class="w-full">
			<thead>
				<tr class="sticky top-0 bg-gray-200 dark:bg-zinc-800">
					<th class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
						<input id="allcb" type="checkbox" name="active"
							class="w-4 h-4 bg-white border border-gray-300 rounded appearance-none form-tick bg-check checked:bg-indigo-500 checked:border-transparent focus:outline-none" />
					</th>
					{% for k in stock_table[0] %}
					{% if k != "_id" and k != "last_updated"%}
					<th class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap">
						<div class="flex">
							<form class="flex" method="POST" action="{{ url_for('stock_list_page') }}" onsubmit="redrawTable(this); return false;">
								{% if sort_col != k %}
								<button type="submit">{{ k | convert_colname }}</button>
								{% endif %}
								<input type="hidden" name="filter_industry" value="{{ filter_industry }}" />
								<input type="hidden" class="min_mkt_cap" name="min_mkt_cap" value="{{ min_mkt_cap }}" />
								<input type="hidden" name="sort_col" value="{{ k }}" />
								{% if sort_col == k and sort_dir == 1 %}
								<input type="hidden" name="sort_dir" value="desc" />
								<button type="submit">
									{{ k | convert_colname }}
									<ion-icon name="caret-up-outline" class="w-4 ascending"></ion-icon>
								</button>
								{% endif %}
							</form>
							<form method="POST" action="{{ url_for('stock_list_page') }}" onsubmit="redrawTable(this); return false;">
								<input type="hidden" name="filter_industry" value="{{ filter_industry }}" />
								<input type="hidden" class="min_mkt_cap" name="min_mkt_cap" value="{{ min_mkt_cap }}" />
								<input type="hidden" name="sort_col" value="{{ k }}" />
								{% if sort_col == k and sort_dir == -1 %}
								<input type="hidden" name="sort_dir" value="asc" />
								<button>
									{{ k | convert_colname }}
									<ion-icon name="caret-down-outline" class="w-4 descending"></ion-icon>
								</button>
								{% endif %}
							</form>
						</div>
					</th>
					{% endif %} {% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in stock_table %}
				<tr
					class="odd:bg-gray-300 even:bg-gray-200 dark:even:bg-zinc-800 dark:odd:bg-zinc-700 dark:hover:bg-zinc-600 hover:bg-gray-300">
					<td class="w-6 px-2 py-2 text-center text-gray-700 border-b dark:border-zinc-700 dark:text-zinc-300">
						<input type="checkbox" name="active" value="{{row['ticker']}}" onchange="update_active(this)" {% if
							(row['ticker'] in active_tickers) %} checked {% endif %}
							class="w-4 h-4 bg-white border border-gray-300 rounded appearance-none form-tick bg-check checked:bg-indigo-500 checked:border-transparent focus:outline-none" />
					</td>
					{% for k,v in row.items() %}{% if k == "board_lot" %}
					<td class="px-2 py-2 text-right text-gray-700 border-b dark:border-zinc-700 dark:text-zinc-300">
						<form action="{{ url_for('stock_info') }}" method="POST">
							<input type="hidden" name="ticker" value="{{ row['ticker'].replace('.', '-') }}" />
							<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ v }}</a>
						</form>
					</td>
					{% elif k == "mkt_cap" %}
					<td class="px-2 py-2 text-gray-700 border-b p dark:border-zinc-700 dark:text-zinc-300">
						<form action="{{ url_for('stock_info') }}" method="POST">
							<input type="hidden" name="ticker" value="{{row['ticker'].replace('.', '-')}}" />
							<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ v | suffix }}</a>
						</form>
						{% elif k != "_id" and k != "last_updated" %}
					<td class="px-2 py-2 text-gray-700 border-b p dark:border-zinc-700 dark:text-zinc-300">
						<form action="{{ url_for('stock_info') }}" method="POST">
							<input type="hidden" name="ticker" value="{{row['ticker'].replace('.', '-')}}" />
							<a class="cursor-pointer" onclick="this.parentNode.submit()">{{ v }}</a>
						</form>
					</td>
					{% endif %} {% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="flex flex-col items-center px-3 py-3 xs:flex-row xs:justify-between">
		<div class="flex items-center" id="pagination-btns">
			<form action="{{ url_for('stock_list_page') }}" method="POST" onsubmit="redrawTable(this); return false;">
				<input type="text" name="page" id="page" value="{{page-1}}" hidden>
				<input type="hidden" name="filter_industry" value="{{ filter_industry }}" />
				<input type="hidden" class="min_mkt_cap" name="min_mkt_cap" value="{{ min_mkt_cap }}" />
				<input type="hidden" name="sort_col" value="{{ sort_col }}" />
				<input type="hidden" name="sort_dir" value="{{ sort_dir }}" />
				<button type="submit" {% if (page - 1)|int < 1 %} disabled {% endif %}
					class="w-full p-4 text-base text-gray-600 bg-white border rounded-l-xl hover:bg-gray-100 dark:bg-zinc-900 dark:hover:bg-zinc-800 dark:text-zinc-300 dark:border-zinc-700 dark:disabled:text-zinc-500 disabled:cursor-not-allowed">
					<svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">
						</path>
					</svg>
				</button>
			</form>
			{% for i in range(1, num_of_pages+1) %}
			<form action="{{ url_for('stock_list_page') }}" method="POST" onsubmit="redrawTable(this); return false;">
				<input type="text" name="page" id="page" value="{{i}}" hidden>
				<input type="hidden" class="min_mkt_cap" name="min_mkt_cap" value="{{ min_mkt_cap }}" />
				<input type="hidden" name="sort_col" value="{{ sort_col }}" />
				<input type="hidden" name="sort_dir" value="{{ sort_dir }}" />
				<button type="submit"
					class="w-full px-4 py-2 text-base bg-white border-t border-b border-r dark:bg-zinc-900 dark:hover:bg-zinc-800 hover:bg-gray-100 dark:border-zinc-700 {% if page == i %}text-indigo-500 dark:text-indigo-400{%else%}text-gray-600 dark:text-zinc-300 text-gray-700{% endif %}">
					{{i}}
				</button>
			</form>
			{% endfor %}
			<form action="{{ url_for('stock_list_page') }}" method="POST" onsubmit="redrawTable(this); return false;">
				<input type="text" name="page" id="page" value="{{page+1}}" hidden>
				<input type="hidden" name="filter_industry" value="{{ filter_industry }}" />
				<input type="hidden" class="min_mkt_cap" name="min_mkt_cap" value="{{ min_mkt_cap }}" />
				<input type="hidden" name="sort_col" value="{{ sort_col }}" />
				<input type="hidden" name="sort_dir" value="{{ sort_dir }}" />
				<button type="submit" {% if (page+1)|int> num_of_pages %} disabled {% endif %}
					class="w-full p-4 text-base text-gray-600 bg-white border-t border-b border-r rounded-r-xl hover:bg-gray-100 dark:bg-zinc-900 dark:hover:bg-zinc-800 dark:text-zinc-300 dark:border-zinc-700 dark:disabled:text-zinc-500 disabled:cursor-not-allowed"
					>
					<svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
						</path>
					</svg>
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %} {% block script %}
<script>

	function redrawTable(evt) {
		const formData = new FormData(evt);
  	const params = Object.fromEntries(formData);
		
		$.post("/stock-list", params, function (data) {
			$("#table").html($(data).find("table"))
			$("#pagination-btns").html($(data).find("#pagination-btns"))
		})
	}


	$("#table-wrapper").on('change', "#allcb", function () {
		console.log("hello")
		$('tbody tr td input[type="checkbox"]').prop(
			"checked",
			$(this).prop("checked")
		);
		$.post(
			"/update-active",
			{
				tickers: $('input[type="checkbox"]')
					.filter(":not(#allcb)")
					.map(function () {
						return $(this).val();
					})
					.toArray(),
				check: this.checked,
			},
			function (data) {
				console.log(data);
			}
		);
	});

	function update_active(evt) {
		if (!evt.checked) {
			$("#allcb").prop("checked", false);
		}
		$.post(
			"/update-active",
			{ tickers: [evt.value], check: evt.checked },
			function (data) {
				console.log(data);
			}
		);
	}

	function edit_mkt_cap(input) {
		$(".min_mkt_cap").each(function () {
			$(this).val($(input).val());
		})
		$(input).parent().submit()
	}

	function update_stock_info() {
		$.get("/stock-info/update")
	}

</script>
{% endblock %}