{% extends "base.html" %} {% block title %} Home {% endblock %} {% block header
%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
  /*Overrides for Tailwind CSS */

  /*Form fields*/
  .dataTables_wrapper select,
  .dataTables_length select,
  .dataTables_wrapper .dataTables_filter input {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #e5e7eb;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    border-radius: 0.375rem;
    border: none;
  }
  .dark .dataTables_wrapper select,
  .dark .dataTables_wrapper .dataTables_filter input {
    color: rgb(212 212 216);
    background-color: rgb(39 39 42);
  }

  .dark .dataTables_info {
    color: rgb(212 212 216);
  }

  .dark label {
    color: rgb(228 228 231);
  }

  /*Pagination Buttons*/
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    border: 1px solid transparent;
    /*border border-transparent*/
  }

  /*Pagination Buttons - Current selected */
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
  }

  /*Pagination Buttons - Hover */
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
  }

  /*Add padding to bottom border */
  table.dataTable.no-footer {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  /*Change colour of responsive icon*/
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #667eea !important;
    /*bg-indigo-500*/
  }

  .dark .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: rgb(161 161 170) !important;
  }
  .dark .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: rgb(212 212 216) !important;
  }
</style>
{% endblock%} {% block content %}
<div
  class="flex flex-col w-screen h-screen px-6 py-4 overflow-hidden bg-gray-100 dark:bg-zinc-900"
>
  <h1 class="text-3xl font-bold dark:text-zinc-100">Stock List</h1>
  <h2 class="dark:text-zinc-400">Last Update: {{ last_updated }}</h2>
  <div class="mb-2 ml-auto industry-filter">
    <select
      id="industryFilter"
      class="block px-2 py-1 text-sm bg-gray-200 rounded-md placeholder:normal-case dark:text-zinc-300 dark:bg-zinc-800 placeholder:text-gray-400 dark:placeholder:text-zinc-500"
      name="industry"
    >
      <option value="">Select an industry</option>
      {% for industry in industries %}
      <option value="{{industry}}">{{industry}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="overflow-y-scroll grow">
    <table id="table" class="w-full">
      <thead>
        <tr class="sticky top-0 bg-zinc-900">
          <th
            class="font-bold text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"
          >
            <input
              id="allcb"
              type="checkbox"
              name="active"
            />
          </th>
          {% for k in stock_table[0] %} {% if k != "_id" and k != "last_updated"
          %}
          <th
            class="font-bold text-gray-900 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"
          >
            <div class="flex">
              {{k}}
              <div>
                <ion-icon
                  name="caret-up-outline"
                  class="w-4"
                  id="up-sort"
                ></ion-icon>
                <ion-icon
                  name="caret-down-outline"
                  class="w-4"
                  id="down-sort"
                ></ion-icon>
              </div>
            </div>
          </th>
          {% endif %} {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in stock_table %}
        <tr class="text-gray-700">
          <td
            class="w-6 px-2 py-2 text-center bg-gray-100 border-b-2 dark:bg-zinc-900 dark:border-zinc-700 dark:text-zinc-300"
          >
						<input
							type="checkbox"
							name="active"
							value="{{row['ticker']}}"
							onchange="update_active(this)"
							{% if (row['ticker'] in active_tickers) %}
								checked
							{% endif %}
						/>
          </td>
          {% for k,v in row.items() %} {% if k == "board_lot" %}
          <td
            class="px-2 py-2 text-right bg-gray-100 border-b-2 dark:bg-zinc-900 dark:border-zinc-700 dark:text-zinc-300"
          >
            <form action="/stock-info" method="POST">
              <input type="hidden" name="page" value="1" />
              <input
                type="hidden"
                name="ticker"
                value="{{row['ticker'].replace('.', '-')}}"
              />
              <a class="cursor-pointer" onclick="this.parentNode.submit()"
                >{{v}}</a
              >
            </form>
          </td>
          {% elif k != "_id" and k != "last_updated" %}
          <td
            class="px-2 py-2 bg-gray-100 border-b-2 p dark:bg-zinc-900 dark:border-zinc-700 dark:text-zinc-300"
          >
            <form action="/stock-info" method="POST">
              <input type="hidden" name="page" value="1" />
              <input
                type="hidden"
                name="ticker"
                value="{{row['ticker'].replace('.', '-')}}"
              />
              <a class="cursor-pointer" onclick="this.parentNode.submit()"
                >{{v}}</a
              >
            </form>
          </td>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block script %}
<script>
	

  $("#allcb").change(function () {
    $('tbody tr td input[type="checkbox"]').prop(
      "checked",
      $(this).prop("checked")
    );
		$.post("/update-active",{"tickers": $('input[type="checkbox"]').filter(":not(#allcb)").map(function(){return $(this).val()}).toArray(), "check": this.checked}, function (data) {console.log(data)})

  });

	function update_active(evt){
		if (!evt.checked){
			$("#allcb").prop("checked", false);
		}
		$.post("/update-active",{"tickers": [evt.value], "check": evt.checked}, function (data) {console.log(data)})
	}
</script>
{% endblock %}
