{% extends "base.html" %} {% block title %} Stock List {% endblock %} {% block
content %}
<div
  class="flex flex-col w-screen h-screen px-6 py-4 space-y-4 overflow-hidden bg-gray-100 dark:bg-zinc-900"
>
  <div class="flex justify-between">
    <div class="flex flex-col space-y-2">
      <h1 class="text-2xl font-black text-gray-900 dark:text-zinc-100">
        Watchlist
      </h1>
      <p class="text-sm text-gray-600 dark:text-zinc-400">
        {{watchlist_data|length}} item{{'s' if watchlist_data|length > 1}}
      </p>
      <p class="text-xs text-gray-500 dark:text-zinc-500">
        Updated {{last_updated}}
      </p>
    </div>
    <div class="flex items-end">
      <button
        onclick="showAdd(this)"
        class="flex items-center px-2 py-2 mb-4 text-sm text-gray-100 bg-gray-500 rounded dark:bg-zinc-700"
        type="button"
      >
        <ion-icon name="add-outline" class="w-4 h-4"></ion-icon>
        <p>Add Ticker</p>
      </button>
      <form onsubmit="return addTicker(this);" class="hidden" id="add-form" method="POST" action="/watchlist">
				<div class="flex items-center mb-4 space-x-2">
					<input
						name="ticker"
						class="flex-1 w-full px-3 py-1 text-base uppercase bg-white border border-transparent rounded-lg shadow-sm appearance-non500 text-zinc-700 placeholder-zinc-400 border-zinc-300 dark:text-zinc-300 dark:border-zinc-700 dark:bg-zinc-800 placeholder:normal-case focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent"
						type="text"
					/>
	        <button
	          type="submit"
	          class="px-3 py-1 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-lg shadow-md bg-emerald-600 hover:bg-emerald-700 focus:ring-emerald-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
	        >
	          Add
	        </button>
				</div>
				<p class="hidden mt-0.5 ml-1 text-xs text-rose-500" id="error-msg">Invalid ticker!</p>
      </form>
    </div>
  </div>
  <div class="overflow-y-scroll rounded-xl">
    <table id="table" class="w-full">
      <thead>
        <tr class="sticky top-0 bg-gray-200 dark:bg-zinc-800">
          <th
            class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"
          >
            Ticker
          </th>
          <th
            class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"
          >
            Name
          </th>
          <th
            class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"
          >
            Price
          </th>
          <th
            class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"
          >
            Change
          </th>
          <th
            class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"
          >
            Market Cap
          </th>
					<th class="py-2 font-bold text-gray-800 border-b-2 dark:text-zinc-200 dark:border-zinc-700 whitespace-nowrap"					>
					</th>
        </tr>
      </thead>
      <tbody>
        {% for row in watchlist_data %}
        <tr
          class="items-center align-middle odd:bg-gray-200/10 even:bg-gray-200 dark:even:bg-zinc-800 dark:odd:bg-zinc-800/10 dark:hover:bg-zinc-700 hover:bg-gray-300"
        >
          {% for k,v in row.items() %}
          <td
            class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300"
          >
            {{v|suffix if k == "mkt_cap" else v}}
          </td>
          {% endfor %}
					<td
            class="flex justify-center px-2 py-2 text-gray-700 align-middle dark:border-zinc-700 dark:text-zinc-300"
          ><button class="h-5"><ion-icon name="close-outline" class="w-5 h-5"></button></ion-icon></td>
        </tr>
        {% endfor %}
        <tr
          class="sticky bottom-0 bg-gray-300 border-t-2 border-gray-400 dark:border-zinc-500 dark:bg-zinc-800"
        >
          {% for i in range(5) %}
          <td
            class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300"
          >
            Average
          </td>
          {% endfor %}
					<td></td>
        </tr>
        <tr class="sticky bottom-0 bg-gray-300 dark:bg-zinc-800">
          {% for i in range(5) %}
          <td
            class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300"
          >
            Median
          </td>
          {% endfor %}
					<td></td>
        </tr>
        <tr class="sticky bottom-0 bg-gray-300 dark:bg-zinc-800">
          {% for i in range(5) %}
          <td
            class="px-2 py-2 text-gray-700 dark:border-zinc-700 dark:text-zinc-300"
          >
            Total
          </td>
          {% endfor %}
					<td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  function showAdd(evt) {
    $("#add-form").removeClass("hidden");
    $(evt).addClass("hidden");
  }

	function addTicker(evt){
		const formData = new FormData(evt);
  	const params = Object.fromEntries(formData);
		params.ticker = params.ticker.toUpperCase();
		if (!params.ticker.includes("-HK") && !params.ticker.includes(".HK")){
			$("input[name='ticker']").addClass("ring-2 ring-rose-500")
			$("#error-msg").removeClass("hidden")
			$("#error-msg").siblings().removeClass("mb-4")
			return false;
		}
	}

</script>
{% endblock %}
